test4

<div class="actions" id="actions" hx-swap-oob="true">
  <button
    type="button"
    hx-get="/api/upload_steps/3"
    hx-target=".info"
    hx-trigger="mousedown"
    hx-swap="innerHTML swap:200ms"
    onmousedown="changeStep('prev')"
  >
    უკან
  </button>
  <button
    type="button"
    class="actions__next"
    hx-get="/api/upload_steps/5"
    hx-target=".info"
    hx-trigger="mousedown"
    hx-swap="innerHTML swap:200ms"
    onmousedown="changeStep('next')"
  >
    გაგრძელება
  </button>
</div>
