<!-- AGE YEARS INPUT -->
<div class="input-group">
  <i class="fa-solid fa-calendar icon"></i>
  <input
    type="text"
    name="age_years"
    aria-label="Age Years"
    class="form-input"
    placeholder="{{ tr.UPLOAD.age_years }}"
  />
</div>

<!-- AGE MONTHS INPUT -->
<div class="input-group">
  <i class="fa-solid fa-calendar icon"></i>
  <input
    type="text"
    name="age_months"
    aria-label="Age Months"
    class="form-input"
    placeholder="{{ tr.UPLOAD.age_months}}"
  />
</div>

<!-- GENDER INPUT -->
<div class="input-group">
  <i class="fa fa-venus-mars icon dropdown-icon"></i>
  <div
    aria-label="Gender"
    class="form-input dropdown-div"
    onclick="toggleDropdown()"
    target="gender"
  >
    <p class="dropdown-text">{{ tr.UPLOAD.gender }}</p>
  </div>
  <i class="fa fa-caret-down icon-right"></i>

  <input type="hidden" name="gender" value="" class="dropdown-input" />
</div>

<div class="dropdown">
  <div class="dropdown-content">
    <p id="boy" data-target="gender">{{ tr.UPLOAD.boy }}</p>
    <p id="girl" data-target="gender">{{ tr.UPLOAD.girl }}</p>
  </div>
</div>

<button
  type="button"
  class="next-btn"
  onclick="validateForm()"
  aria-label="Next"
>
  <i class="fa-solid fa-arrow-right-long"></i>
</button>
