<!-- PHOTOS INPUT -->
<div class="input-group">
  <i class="fa-solid fa-image icon photos-icon"></i>
  <div aria-label="Photos Div" class="form-input" id="photosDiv">
    <p style="margin: 0">{{ tr.UPLOAD.photos }}</p>
  </div>

  <input
    type="file"
    name="photos"
    aria-label="Photos"
    accept="image/*"
    id="fileInput"
    multiple
  />
</div>

<input type="submit" value="{{ tr.NAV.upload }}" id="submit-input" />

<div class="progress-div">
  <div class="progress-bar">
    <div class="progress"></div>
  </div>
  <div class="progress-info">
    <p class="progress-status">Uploading...</p>
    <p class="progress-percentage"></p>
  </div>
</div>
