<div class="info__title">
  <h1>რომელი არის შენი პოსტის ტიპი?</h1>
  <p>განაახლეთ თქვენი პერსონალური ინფორმაცია აქ</p>
</div>

<div
  class="info__chips"
  x-data="{ activeChip: null }"
  x-init="$watch('activeChip', value => setData('post_type', value))"
>
  <div
    class="info__chips__chip"
    @mousedown="activeChip = 'selling'"
    :class="{ 'active-chip': activeChip === 'selling' }"
    input-data="selling"
  >
    <div class="info__chips__chip__text">
      <h1>გაყიდვა</h1>
      <p>გაასხვისე შენი ცხოველი სანდო პირთან.</p>
    </div>
    <div class="info__chips__chip__icon">
      <img
        src="{{content_url}}/assets/icons/upload/upload_selling.svg"
        alt=""
      />
    </div>
  </div>
  <div
    class="info__chips__chip"
    @mousedown="activeChip = 'adopting'"
    :class="{ 'active-chip': activeChip === 'adopting' }"
    input-data="adopting"
  >
    <div class="info__chips__chip__text">
      <h1>შეფარება/გაჩუქება</h1>
      <p>მოუძებნე შენს მეგობარს ახალი ოჯახი.</p>
    </div>
    <div class="info__chips__chip__icon">
      <img
        src="{{content_url}}/assets/icons/upload/upload_adopting.svg"
        alt=""
      />
    </div>
  </div>
  <div
    class="info__chips__chip"
    @mousedown="activeChip = 'breeding'"
    :class="{ 'active-chip': activeChip === 'breeding' }"
    input-data="breeding"
  >
    <div class="info__chips__chip__text">
      <h1>შეჯვარება</h1>
      <p>მოუძებნე იდეალური პარტნიორი შენს მეგობარს.</p>
    </div>
    <div class="info__chips__chip__icon">
      <img
        src="{{content_url}}/assets/icons/upload/upload_breeding.svg"
        alt=""
      />
    </div>
  </div>

  <!-- INPUT -->
  <input type="hidden" input-data="post_type" x-bind:value="activeChip" />
</div>

<div class="actions" id="actions" hx-swap-oob="true">
  <button type="button" onmousedown="changeStep('prev')">უკან</button>
  <button
    type="button"
    class="actions__next"
    hx-get="/api/upload_steps/2"
    hx-target=".info"
    hx-trigger="validated"
    hx-swap="innerHTML swap:0.3s"
    onmousedown="validateStep('next')"
  >
    გაგრძელება
  </button>
</div>
