<div class="progress-div">
  <div class="progress-info">
    <h1 class="progress-percentage"></h1>
  </div>

  <div class="progress-bar">
    <div class="progress"></div>
  </div>
</div>

<div class="info__finish" id="finishElement">
  <img src="{{content_url}}/assets/icons/upload/finish.svg" alt="" />
  <div class="info__finish__text">
    <h1>
      {{ tr.UPLOAD.STEP_7.thanks }}
      <span x-text="'{{claims.name}}'.split(' ')[0]"></span>
    </h1>
    <p>{{ tr.UPLOAD.STEP_7.title_helper }}</p>
  </div>
  <div class="info__finish__links">
    <a id="postId">{{ tr.UPLOAD.STEP_7.view_post }}</a>
    <a href="/">{{ tr.UPLOAD.STEP_7.home }}</a>
  </div>
</div>

<div
  class="actions"
  id="actions"
  hx-swap-oob="true"
  style="display: none"
></div>
