<!-- ANIMAl INPUT -->
<div class="input-group">
  <i class="fa fa-signs-post icon dropdown-icon"></i>
  <div
    aria-label="Post Type"
    class="form-input dropdown-div"
    onclick="toggleDropdown()"
    target="post_type"
  >
    <p style="margin: 0">{{ tr.UPLOAD.post_type }}</p>
  </div>
  <i class="fa fa-caret-down icon-right"></i>

  <input type="hidden" name="post_type" value="" class="dropdown-input" />
</div>

<div class="dropdown">
  <div class="dropdown-content">
    <p id="selling" data-target="post_type">{{ tr.POSTTYPE.selling }}</p>
    <p id="meeting" data-target="post_type">{{ tr.POSTTYPE.meeting }}</p>
    <p id="adopting" data-target="post_type">{{ tr.POSTTYPE.adopting }}</p>
  </div>
</div>

<!-- PRICE INPUT -->
<div class="input-group price-hidden hidden">
  <i class="fa-solid fa-tag icon"></i>
  <input
    type="text"
    name="price"
    aria-label="Price"
    placeholder="{{ tr.UPLOAD.price }}"
    class="form-input price-hidden"
  />
</div>

<button
  type="button"
  class="next-btn"
  onclick="validateForm()"
  aria-label="Next"
>
  <i class="fa-solid fa-arrow-right-long"></i>
</button>
