<!-- PHOTOS INPUT -->
<label for="photos" class="input-label">{{ tr.UPLOAD.photos }}</label>
<div class="input-group">
  <i class="fa-solid fa-image icon photos-icon"></i>
  <div aria-label="Photos Div" class="form-input" id="photosDiv"></div>

  <input
    type="file"
    name="photos"
    aria-label="Photos"
    accept="image/*"
    id="fileInput"
    multiple
  />
</div>

<input type="submit" value="Upload" />

<div class="progress-div">
  <div class="progress-bar">
    <div class="progress"></div>
  </div>
  <div class="progress-info">
    <p class="progress-status">Uploading...</p>
    <p class="progress-percentage"></p>
  </div>
</div>
