<div class="info__title">
  <h1>{{ tr.UPLOAD.STEP_4.title }}</h1>
  <p>{{ tr.UPLOAD.title_helper }}</p>
</div>

<div class="info__inputs">
  <!-- BREED -->
  <div class="info__inputs__input">
    <p>{{ tr.UPLOAD.breed }}</p>
    <div>
      <img
        src="{{content_url}}/assets/icons/badge.svg"
        alt=""
        class="info__inputs__icon"
      />
      <input
        type="text"
        input-data="breed"
        placeholder="..."
        onchange="setData('breed', this.value)"
      />
    </div>
  </div>

  <!-- AGE -->
  <div
    class="info__inputs__input"
    x-data="{ ...dropdown(), age_type: null, age_type_text: '{{ tr.FILTERS.age_type }}' }"
  >
    <p>{{ tr.UPLOAD.age }}</p>
    <div>
      <img
        src="{{content_url}}/assets/icons/calendar.svg"
        alt=""
        class="info__inputs__icon"
      />
      <input
        type="number"
        input-data="age"
        placeholder="..."
        pattern="\d*"
        onchange="setData('age', this.value)"
      />
      <button type="button" @mousedown="toggle">
        <span x-text="age_type_text"></span>
        <img src="{{content_url}}/assets/icons/dropdown-age.svg" alt="" />
      </button>
      <div
        x-show="open"
        @mousedown.outside="open = false"
        class="info__inputs__age-drop"
        x-transition
      >
        <p
          @mousedown="
          age_type = 'years'; 
          age_type_text = '{{ tr.FILTERS.years }}';
          setData('age_type', 'years');
          open=false"
        >
          {{ tr.FILTERS.years }}
        </p>
        <p
          @mousedown="
          age_type = 'months'; 
          age_type_text = '{{ tr.FILTERS.months }}';
          setData('age_type', 'months');
          open=false"
        >
          {{ tr.FILTERS.months }}
        </p>
      </div>
    </div>
    <!-- INPUT -->
    <input type="hidden" input-data="age_type" x-model="age_type" />
  </div>

  <!-- DESCRIPTION -->
  <div class="info__inputs__input">
    <p>{{ tr.UPLOAD.description }}</p>
    <div class="info__inputs__desc-icon">
      <img
        src="{{content_url}}/assets/icons/description.svg"
        alt=""
        class="info__inputs__icon"
      />
      <textarea
        type="text"
        input-data="description"
        placeholder="..."
        onchange="setData('description', this.value)"
      ></textarea>
    </div>
  </div>
</div>

<div class="actions" id="actions" hx-swap-oob="true">
  <button
    type="button"
    hx-get="/api/upload_steps/3"
    hx-target=".info"
    hx-trigger="mousedown"
    hx-swap="innerHTML swap:100ms"
    onmousedown="changeStep('prev')"
  >
    {{ tr.UPLOAD.actions_back }}
  </button>
  <button
    type="button"
    class="actions__next"
    hx-get="/api/upload_steps/5"
    hx-target=".info"
    hx-trigger="validated"
    hx-swap="innerHTML swap:100ms"
    onmousedown="validateStep('next')"
  >
    {{ tr.UPLOAD.actions_next }}
  </button>
</div>
