@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
  --text: #0e4c73;
  --background: #ffffeb;
  --primary: #f25a38;
  --secondary: #f2be5c;
  --accent: #39bfb2;
}

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

body {
  background-color: #fef2ec;
}
