@import url("https://fonts.googleapis.com/css?family=Ubuntu:700|Ubuntu:400");

body {
  font-family: "Ubuntu";
  font-weight: 700;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

body {
  background-color: #fef2ec;
}
