body {
  margin: 0;
  margin-top: 200px;
}

.circle {
  width: 700px;
  height: 700px;
  border-radius: 10px;
  filter: blur(12rem);
  opacity: 40%;
  position: absolute;
}

.yellow {
  background-color: #fcff45;
}

.blue {
  background-color: var(--accent);
}

.main-text {
  color: var(--text);
  font-size: 3.5rem;
  width: 100%;
  margin-left: 130px;
  margin-bottom: 0;
}

.main-bottom {
  color: var(--background);
  background-image: var(--gr-accent);
  width: 300px;
  border-radius: 15px;
  text-align: center;
  font-size: 2.5rem;
  margin-left: 130px;
}

.main-p {
  color: var(--text);
  margin-left: 130px;
  margin-bottom: 50px;
  width: 550px;
  overflow-wrap: break-word;
}

.main-upload {
  color: var(--background);
  background-image: var(--gr-accent);
  width: 300px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.5rem;
  margin-left: 130px;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
}
