body {
  margin: 0;
  margin-top: 150px;
  height: 100vh;
  background: url("/assets/grain.svg") center/cover fixed;
}

.circle {
  width: 700px;
  height: 700px;
  border-radius: 10px;
  filter: blur(12rem);
  opacity: 40%;
  position: absolute;
}

.yellow {
  background-color: #fcff45;
}
