.auth-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: var(--background);
  padding: 50px;
  border-radius: 40px;
  border: 2px solid var(--primary);
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-weight: bold;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .auth-form {
    width: 270px;
  }
}

.auth-form-title {
  font-size: 22px;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
}

.auth-form input {
  padding: 12px;
  background-color: var(--background);
  border: 2px solid var(--primary);
  color: var(--text);
  border-radius: 40px;
  font-size: 18px;
  outline-color: var(--text);
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  outline: none;
}

.auth-form input::placeholder {
  color: var(--placeholder);
}

.icon {
  position: absolute;
  left: 20px;
  margin-bottom: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 16px;
}

.auth-form input[type="text"],
input[type="password"] {
  padding-left: 45px;
}

.forgot-password {
  position: absolute;
  left: 5%;
  top: 65px;
  color: var(--placeholder);
  text-decoration: none;
  font-size: 14px;
}

.auth-form input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--primary);
  color: var(--background);
}

.auth-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.auth-option a {
  text-decoration: none;
  color: var(--text);
}

.auth-option div {
  height: 1px;
  width: 25%;
  background-color: var(--primary);
}

.auth-submit {
  margin-top: 50px;
}

.input-label {
  margin-bottom: 5px;
}

.error {
  /* margin-top: 50px; */
  color: #e83e36;
}

.success {
  margin-top: 50px;
  align-items: center;
  color: var(--accent);
}

.error,
.success {
  text-align: center;
  display: none;
}

.error:not(:empty),
.success:not(:empty) {
  display: block;
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  margin: auto;
  display: inline-block;
  width: 60px;
  height: 60px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 44px;
  height: 44px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.invalid {
  border: 3px solid #e83e36 !important;
}

.msg i {
  margin-right: 5px;
  margin-top: 30px;
}
