/* Footer styles */
.footer {
  background-color: var(--background);
  color: var(--text);
  padding: 15px;
  margin: 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 40px;
  width: 60px;
  margin-right: 10px;
}

.footer-name {
  font-size: 18px;
  font-weight: bold;
}

.footer-contact {
  font-size: 18px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-container div {
    margin: 10px;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}
