:root {
  --text: #4f3534;
  --background: #fcf5f4;
  /* --background: #fff8ed; */
  --primary: #d9625a;
  --secondary: #ffc183;
  --accent: #fff;
  --placeholder: #996e59;
  --disabled: #69423f;
  --border: #d5c2b3;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: 1px;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  background-color: var(--background);
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  margin-top: 120px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.icon-svg {
  width: 18px;
  height: 18px;
}

.main-content {
  margin-bottom: 50px;
  min-height: 100vh;
}

.blurred-img {
  background-repeat: no-repeat;
  background-size: cover;

  img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
}

.blurred-img::before {
  /* content: ""; */
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 1s infinite;
  background-color: white;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.blurred-img.loaded::before {
  animation: none;
  /* content: none; */
}

.blurred-img.loaded img {
  opacity: 1;
}
