@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
  --text: #4d3d2d;
  --background: #fff9e8;
  --primary: #f9906f;
  --secondary: #ffc183;
  --accent: #e6a268;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  background-color: var(--background);
  transition: opacity 0.45s ease-out;
  opacity: 0;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  background: url("/assets/grain2.svg") center/cover fixed;
  color: var(--text);
  margin: 0;
  margin-top: 150px;
  /* background: var(--accent); */
}

.main-content {
  min-height: 1000px;
}

.circle {
  width: 600px;
  height: 600px;
  border-radius: 10px;
  filter: blur(15rem);
  opacity: 40%;
  position: fixed;
  z-index: -1;
  top: 40%;
}

.yellow {
  background-color: #fcff45;
}

.plus-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: var(--background);
  padding: 15px 25px;
  font-size: 2rem;
  border-radius: 100%;
  color: var(--text);
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.plus-btn:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .plus-btn {
    padding: 5px 15px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Gray overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 80px;
  padding: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--secondary);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 0.5s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
