:root {
  --text: #4f3534;
  --background: #fcf5f4;
  /* --background: #fff8ed; */
  --primary: #d9625a;
  --secondary: #ffc183;
  --accent: #fff;
  --placeholder: #996e59;
  --disabled: #69423f;
  --border: #d5c2b3;
}

@font-face {
  font-family: "TBCXMedium";
  src: url("https://pender-assets.s3.eu-central-1.amazonaws.com/fonts/TBCXMedium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TBCXMedium";
  src: url("https://pender-assets.s3.eu-central-1.amazonaws.com/fonts/TBCXBold.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "TBCXMedium", sans-serif;
  font-weight: normal;

  letter-spacing: 0.6px;
  line-height: 1.2;

  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;

  background-color: var(--background);
  color: var(--text);

  margin: 0;
  margin-top: 120px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.icon-svg {
  width: 18px;
  height: 18px;
}

.main-content {
  max-width: 1620px;
  margin: auto;
  margin-bottom: 50px;
  min-height: 100vh;
  transition: opacity 0.15s ease-out;
  opacity: 0;
}

.blurred-img {
  background-repeat: no-repeat;
  background-size: cover;

  img {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
}

.blurred-img::before {
  /* content: ""; */
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 1s infinite;
  background-color: white;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.blurred-img.loaded::before {
  animation: none;
  /* content: none; */
}

.blurred-img.loaded img {
  opacity: 1;
}
