.home-content {
  width: 85%;
  background: var(--accent);
  border-radius: 26px;
  margin: auto;
  padding: 28px;
  box-shadow: 0px 4px 6px 2px #10182808;
  display: flex;
  flex-direction: column;
  gap: 28px;

  .search-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 400px;
    box-sizing: border-box;
    border-radius: 22px;
    padding: 38px;
    background: url("/assets/search-img.avif") no-repeat center/cover;

    .search-title {
      font-size: 36px;
      text-align: center;
      color: var(--accent);
    }
  }
  .search-form {
    position: relative;
  }
  .search-input {
    box-sizing: border-box;
    height: 54px;
    padding: 0 22px;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 16px;
    color: var(--text);
    padding-left: 50px;
    padding-right: 200px;
    margin-right: 20px;
    transition: 0.3s ease;

    &::placeholder {
      color: #996e59;
    }
  }

  .search-submit {
    background-color: var(--primary);
    padding: 12px 20px;
    width: 110px;
    height: 54px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: var(--accent);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .search-submit:hover {
    scale: 1.03;
  }

  .search-icon {
    position: absolute;
    left: 16px;
    top: 46%;
    transform: translateY(-50%);
    width: 18px;
    z-index: 9;
  }

  .search-button {
    position: absolute;
    right: 142px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    height: 42px;
    border-radius: 70px;
    background-color: #e9e0d8;
    font-size: 16px;
    color: #4f3534;
    cursor: pointer;
    transition: 0.2s;

    img {
      width: 18px;
      margin-right: 10px;
    }
  }

  @media (max-width: 768px) {
    .search-content {
      height: 200px;
      gap: 0;
      padding: 28px;
    }

    .mobile-search-form {
      top: 16px;
      position: relative;
      display: flex !important;
      flex-direction: column;
      gap: 16px;

      .search-input {
        border: 1px solid var(--border);
        width: 100%;
        padding-right: 0;
      }

      .search-submit {
        width: 100%;
      }

      .search-icon {
        top: 24px;
      }

      .search-button {
        top: 27px;
        right: 6px;
        padding: 12px;

        img {
          margin: 0;
        }
      }
    }

    .search-form {
      display: none;
    }

    .search-title {
      font-size: 24px !important;
      line-height: 36px;
    }
  }

  .mobile-search-form {
    display: none;
  }

  .category {
    font-size: 24px;
    font-weight: bold;
  }

  .categories-div {
    margin-top: 40px;
    flex-direction: column;
    display: flex;
    gap: 12px;

    .images {
      display: flex;
      justify-content: space-between;
      height: 280px;
      overflow-x: auto;
      gap: 30px;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
      user-select: none;
    }

    img,
    .image {
      width: 217px;
      height: 217px;
      border-radius: 100%;
      transition: top ease 0.3s;
    }

    .image {
      position: relative;
      top: 0;
    }

    .image:hover {
      top: 8px;
    }

    .image p {
      font-size: 20px;
      text-align: center;
    }

    @media (max-width: 768px) {
      .image p {
        font-size: 14px;
      }

      img,
      .image {
        width: 120px;
        height: 120px;
      }

      .images {
        padding: 0 24px;
        width: calc(100% + 56px);
        height: 170px;
        margin: 0 -28px;
        box-sizing: border-box;
        gap: 20px;
      }
    }
  }

  .posts-div {
    margin-top: 40px;

    .posts-title {
      display: flex;
      justify-content: space-between;
      margin-right: 10px;
      margin-bottom: 34px;

      .all-posts {
        color: #4f3534;
        font-size: 18px;
        font-weight: 400;
      }

      p {
        margin: 0;
      }
    }

    .posts {
      display: flex;
      justify-content: space-between;
      overflow-x: auto;
      gap: 30px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      user-select: none;
    }
  }

  .features-div {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    .line {
      height: 1px;
      background-color: #e9e0d8;
      margin: 24px 0px;
    }

    .feature {
      display: flex;
      gap: 20px;
      width: 510px;

      img {
        width: 56px;
        height: 56px;
      }

      h1 {
        font-size: 20px;
        color: var(--text);
      }

      p {
        font-weight: 400;
        color: #83594b;
      }
    }
    .features-img {
      width: 100%;
      max-width: 500px;
      height: auto;
    }
  }
}

@media (max-width: 1260px) {
  .features-div {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .feature {
      width: 250px !important;
      margin: auto;
      flex-direction: column;
      gap: 0px !important;
    }

    .feature-details {
      h1 {
        font-size: 18px !important;
      }
      p {
        font-size: 14px !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .features-img {
    width: 100% !important;
  }

  .category {
    font-size: 20px !important;
  }

  .home-content {
    width: 75%;
  }

  .posts {
    padding: 0 24px;
    width: calc(100% + 58px);
    margin: 0 -30px;
    box-sizing: border-box;
  }

  .posts-title {
    flex-direction: column;
    gap: 26px;

    a {
      font-size: 16px !important;
    }
  }
}

/* Placeholder Box */
.placeholder-box {
  width: 280px;
  height: 363px;
  background-color: var(--background);
  position: relative;
  overflow: hidden;
  border-radius: 26px;
}

/* Animation */
.placeholder-box::before {
  content: "";
  display: block;
  position: absolute;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    #ffedef 50%,
    transparent 100%
  );
  animation: loading 0.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
