.home-content {
  width: 85%;
  height: 800px;
  background: var(--accent);
  border: 1px solid var(--border);
  border-radius: 20px;
  margin: auto;
  padding: 24px;

  .search-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 250px;
    border-radius: 16px;
    padding: 38px;
    background: url("/assets/search-img.webp") no-repeat center/cover;

    .search-title {
      font-size: 30px;
      text-align: center;
      color: var(--accent);
    }
  }
  .search-form {
    position: relative;
  }
  .search-input {
    box-sizing: border-box;
    height: 54px;
    padding: 0 22px;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 16px;
    color: var(--text);
    padding-left: 50px;
    padding-right: 200px;
    margin-right: 20px;
    transition: 0.2s;

    &::placeholder {
      color: #996e59;
    }
  }

  .search-submit {
    background-color: var(--primary);
    padding: 12px 20px;
    gap: 8px;
    width: 110px;
    height: 54px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: var(--accent);
    font-size: 16px;
    cursor: pointer;
  }

  .search-icon {
    position: absolute;
    left: 16px;
    top: 46%;
    transform: translateY(-50%);
    width: 18px;
  }

  .search-button {
    position: absolute;
    right: 142px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    height: 42px;
    border-radius: 70px;
    background-color: #e9e0d8;
    font-size: 16px;
    color: #4f3534;
    cursor: pointer;
    transition: 0.2s;

    img {
      width: 18px;
      margin-right: 10px;
    }
  }

  @media (max-width: 768px) {
    .search-content {
      height: 150px;
      gap: 0;
      padding: 28px;
    }

    .mobile-search-form {
      top: 16px;
      position: relative;
      display: flex !important;
      flex-direction: column;
      gap: 16px;

      .search-input {
        border: 1px solid var(--border);
        width: 100%;
        padding-right: 0;
      }

      .search-submit {
        width: 100%;
      }

      .search-icon {
        top: 24px;
      }

      .search-button {
        top: 27px;
        right: 6px;
        padding: 12px;

        img {
          margin: 0;
        }
      }
    }

    .search-form {
      display: none;
    }

    .search-title {
      font-size: 24px !important;
      line-height: 36px;
    }
  }

  .mobile-search-form {
    display: none;
  }
}

@media (max-width: 600px) {
  .home-content {
    width: 75%;
  }
}

.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* display: none; */
  animation: fadeInModal 0.2s ease-in;
}

.modal.show-modal {
  display: block;
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUpModal {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Modal content box */
.modal-content {
  position: relative;
  background-color: var(--accent);
  margin: 15% auto;
  padding: 12px 18px;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: scaleUpModal 0.2s ease-in;

  @media (min-width: 768px) {
    top: -100px;
  }

  .modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);

    h1 {
      font-size: 18px;
    }
  }

  .modal-line {
    height: 1px;
    background-color: var(--border);
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0.7;
    margin-top: 6px;
  }

  form {
    margin-top: 26px;

    p {
      font-size: 14px;
    }

    .input-div {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    .chip {
      font-size: 16px;
      text-align: center;
      padding: 12px 20px;
      border: 1px solid var(--border);
      border-radius: 50px;
      font-weight: 400;
      cursor: pointer;
      transition: 0.3s;
    }

    .chip:hover {
      border-color: #83594b;
    }

    .active-chip {
      background-color: #fae7e6;
      border-color: #8b322c;
      color: #8b322c;
    }

    .filter-row {
      margin-bottom: 20px;
    }
  }
}

.close {
  cursor: pointer;
}
