.navbar-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  z-index: 1000;
  background-color: var(--background);
  border-radius: 0px 0px 45px 45px;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  border-radius: 40px;
  width: 85%;
  height: 72px;
  padding: 0px 35px;
  background-color: var(--accent);
  border: 1px solid var(--border);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
  width: auto;
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 75%;
  }

  .logo-box h1 {
    font-size: 20px;
  }

  .logo-box img {
    width: 48px;
  }
}

.logo-box {
  display: flex;
  align-items: center;
  color: var(--text);
  cursor: pointer;
}

.logo-box h1 {
  font-size: 23px;
  margin-left: 15px;
  font-weight: normal;
}

.navbar-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 40px;
  height: 48px;
  width: 35px;
  cursor: pointer;
  padding: 0px 8px;
  font-size: 16px;
  transition: 0.2s;
}

.navbar-lang:hover,
.user-div:hover {
  border: 1px solid #83594b;
}

.navbar-lang img {
  width: 28px;
  height: 28px;
}

.user-div {
  border: 1px solid var(--border);
  width: 140px;
  max-height: 46px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
  user-select: none;
  transition: 0.2s;
}

.user-icon-div {
  background-color: #f3ece7;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-icon {
  width: 20px;
  height: 20px;
}

.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fae7e6;
  color: var(--primary);
  border-radius: 40px;
  height: 48px;
  width: 130px;
  padding: 0px 8px;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
}

.upload:hover {
  background-color: #f7d3d1;
}

.upload img {
  width: 20px;
  height: 18px;
  margin-right: 10px;
}

.hide-menu {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition:
    opacity 0.2s ease,
    -webkit-transform 0.2s ease,
    visibility 0.2s ease;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0.2s ease;
}

.show-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition:
    opacity 0.4s ease,
    -webkit-transform 0.4s ease,
    visibility 0.4s ease;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease,
    visibility 0.4s ease;
}

.nav-dropdown {
  position: absolute;
  top: 90px;
  width: 300px;
  max-height: 306px;
  background-color: var(--accent);
  border-radius: 20px;
  border: 1px solid var(--border);
  box-shadow: 0px 4px 6px -2px #10182808;
  box-shadow: 0px 12px 16px -4px #10182814;
}

.user-info {
  padding: 16px 18px 8px;
}

.user-name {
  margin: 0;
  font-size: 16px;
}

.user-email {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--placeholder);
  overflow: hidden;
  max-width: 90%;
  text-overflow: ellipsis;
  padding: 8px 0px;
}

.dropdown-actions {
  padding: 4px 0px;
}

.dropdown-actions img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.dropdown-actions a {
  color: var(--text);
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0px 18px;
  transition: 0.2s;
}

.dropdown-action:hover {
  background-color: #f6f3f0;
}

.menu-icon {
  cursor: pointer;
}

.dropdown-line {
  height: 1px;
  background-color: var(--placeholder);
  opacity: 0.2;
}

@media screen and (min-width: 700px) {
  .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .upload {
    display: none;
  }

  .logo-box h1 {
    display: none;
  }

  .user-div {
    font-size: 14px;
    width: 48px;
    height: 48px;
  }

  .user-div p,
  .arrow-down {
    display: none;
  }

  .login-div {
    display: none;
  }

  .navbar-lang {
    height: 43px;
    width: 30px;
  }

  .nav-dropdown {
    left: 50%;
    transform: translateX(-50%);
  }
}

.logout-action {
  border-radius: 0px 0px 20px 20px;
  transition: 0.2s;
}

.logout-action:hover {
  background-color: #f6f3f0;
}

.hamburger-div {
  display: flex;
}
