.navbar-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  background: url("/assets/grain.svg") center/cover fixed;
  border-radius: 0px 0px 45px 45px;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  border-radius: 40px;
  width: 90%;
  background-color: var(--background);
  /* background: rgba(255, 244, 227, 1); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
}

/* .navbar-logo, */
/* .navbar-profile { */
/*   flex: 0 0 150px; */
/* } */

.navbar-logo {
  width: 190px;
  margin-left: 30px;
}

.navbar-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.navbar-links a {
  color: var(--text);
  text-decoration: none;
}

.active a {
  position: relative;
  text-decoration: none;
}

.active a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--accent);
}

.navbar-links li {
  padding: 10px 20px;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;
}

.navbar-links li:hover {
  background-color: var(--accent);
  transform: scale(1.1);
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  font-size: 32px;
  user-select: none;
  width: 30px;
}

/* Media query for mobile responsiveness */
@media screen and (min-width: 1100px) {
  .lang-full {
    display: block;
  }

  .mobile-right {
    display: none !important;
  }
}
@media screen and (max-width: 1100px) {
  .lang-full,
  .logout-btn {
    display: none !important;
  }
  .hamburger-menu {
    margin-right: 30px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .navbar-links a {
    color: var(--text);
    padding: 15px 0;
    width: 100%;
    display: block;
  }

  .navbar-profile {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .hamburger-menu {
    display: flex;
  }

  .radio-inputs {
    margin-right: 30px;
  }
}
/* mobile menu styles */
.mobile-menu {
  position: absolute;
  right: 30px;
  top: 100px;
  background-color: var(--background);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

.search-icon {
  position: absolute;
  top: 30px;
  left: 30px;
}

.mobile-menu input {
  border: none;
  padding: 10px;
  background-color: var(--background);
  border: 2px solid var(--accent);
  outline: none;
  font-weight: bold;
  border-radius: 10px;
  padding-left: 35px;
}

.mobile-menu input::placeholder {
  color: var(--text);
}

.mobile-menu-links {
  margin-top: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}

.mobile-menu-links i {
  margin-right: 10px;
  width: 20px;
}

.menu-link {
  text-decoration: none;
  color: var(--text);
  display: flex;
  align-items: center;
  padding: 5px;
  transition: 0.15s ease-in;
}

.active-menu-link,
.menu-link:hover {
  background: rgba(57, 191, 178, 0.2);
  border-radius: 10px;
  color: var(--accent);
}

.show-mobile-menu {
  display: block;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

.hide-mobile-menu {
  animation: fadeOut 0.3s ease;
  display: none;
}

.line {
  margin-top: 70px;
  margin-bottom: 10px;
  height: 2px;
  background-color: rgba(57, 191, 178, 0.5);
}

.mobile-profile {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}

.mobile-profile i {
  margin-right: 10px;
}

/* mobile menu styles END */

.active-navbar-link a {
  position: relative;
  text-decoration: none;
}

.active-navbar-link a::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--accent);
}

.navbar-profile {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.mobile-right {
  display: flex;
  align-items: center;
}
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: var(--accent);
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.35rem;
  width: 130px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: none;
  padding: 0.5rem 0;
  color: var(--text);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: var(--background);
  font-weight: 600;
}

.logout-btn {
  color: var(--text);
  background-color: var(--accent);
  padding: 8px 14px;
  border-radius: 100%;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  transform: scale(1.1);
}
