.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.left-div {
  width: 250px;
  height: 150px;
  background-color: var(--background);
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
}

.left-div p {
  font-size: 20px;
  width: 80%;
  margin: auto;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.left-div p i {
  margin-right: 10px;
}

.active-profile-tab {
  background-color: var(--accent);
}

.left-div p:hover {
  background-color: var(--accent);
  border-radius: 20px;
}

.right-div {
  width: 65%;
  background-color: var(--background);
  border-radius: 20px;
  height: 400px;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left-div {
    flex-direction: row;
    margin: auto;
    width: 60%;
    height: 50px;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
  }

  .left-div p {
    width: 40%;
  }

  .right-div {
    width: 80%;
    margin: auto;
  }
}
