.profile-main {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 20px;
}

/* SELECTOR CSS */
.selector-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px;
  gap: 10px;
  width: 260px;
  height: 128px;
  background: var(--accent);
  border: 1px solid #d5c2b3;
  border-radius: 20px;
  margin-right: 60px;
  font-weight: bold;
}

.selector-item {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px 14px;
  width: 80%;
  cursor: pointer;
  border-radius: 38px;
  transition: 0.2s;
}

.selector-item:hover {
  background-color: #f6f3f0;
}

.selector-item img {
  margin-right: 10px;
}

.active-selector {
  background-color: #f6f3f0;
  transition: 0.2s;
}

.active-selector:hover {
  background-color: #e9e0d8;
}

/* DETAILS CSS */
.details-div {
  width: 969px;
  height: 664px;
  padding: 50px;
  background-color: var(--accent);
  border: 1px solid var(--border);
  border-radius: 20px;
}

.details-div h1 {
  font-size: 30px;
}

.details-div p {
  font-size: 16px;
  color: var(--placeholder);
  font-weight: 400;
}

@media (max-width: 900px) {
  .profile-main {
    flex-direction: column;
  }

  .selector-div {
    flex-direction: row;
    margin: auto;
    margin-bottom: 30px;
    width: 330px;
    height: 80px;
  }

  .details-div {
    width: 70%;
    margin: auto;
  }

  .details-div h1 {
    font-size: 20px;
    text-align: center;
  }
  .details-div p {
    font-size: 14px;
    text-align: center;
  }
}

/* FROM CSS */
.details-form {
  margin-top: 40px;
}

.input-div {
  display: flex;
  flex-direction: column-reverse;
  padding: 0px;
  gap: 6px;
}

.input-div input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 14px;
  gap: 9px;
  border: 1px solid var(--border);
  color: var(--text);
  border-radius: 70px;
  width: 100%;
  padding-left: 46px;
  outline: none;
  transition: 0.2s;
  font-size: 16px;
}

.input-div input:hover {
  border-color: #83594b;
}

.input-div label {
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #4f3534;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.profile-input-icon {
  position: relative;
  left: 16px;
  bottom: 36px;
  width: 18px;
}

.cities-div {
  top: 50px;
}

.profile-line {
  height: 1px;
  width: 100%;
  background-color: var(--border);
  opacity: 0.8;
  margin-top: 26px;
}

.save-btn {
  outline: none;
  border: none;
  width: 104px;
  height: 48px;
  font-size: 16px;
  color: var(--accent);
  background: var(--primary);
  border-radius: 50px;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.save-btn:hover {
  background-color: #c4463e;
}

.cancel:hover {
  border-color: #83594b;
  background-color: var(--accent);
}

.final-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.cancel {
  background-color: var(--accent);
  color: var(--text);
  border: 1px solid var(--border);
}
