/* PROGRESS BAR */
.progress-div {
  display: none;
}

.progress-bar {
  margin: auto;
  margin-top: 30px;
  width: 100%;
  height: 20px;
  background-color: var(--accent);
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: var(--secondary);
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.progress-info {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

input[type="submit"]:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}
