@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans+Georgian:wght@600&family=Ubuntu:wght@500&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  font-family: "Noto Sans Georgian", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
