<link rel="stylesheet" href="static/css/navbar.css" />

<nav class="navbar">
  <div class="navbar-logo">
    <a href="/">
      <img src="/assets/logo.svg" alt="Logo" />
    </a>
  </div>

  <ul class="navbar-links" id="navbarLinks">
    <li id="home">
      <a href="/"> {{ tr.NAV.home }} </a>
    </li>
    <li id="posts">
      <a href="/search"> {{ tr.NAV.posts }}</a>
    </li>
    <li id="profile">
      <a href="/profile">{{ tr.NAV.profile }}</a>
    </li>
  </ul>

  <div class="navbar-profile">
    <div class="radio-inputs lang-full">
      <label class="radio">
        <!-- prettier-ignore -->
        <input
          hx-post="/set_language/ge"
          hx-swap="none"
          type="radio"
          name="radio"
          {% if lang == 'ge' %} checked="" {% endif %}
          onclick="reloadPage(100)"
        />
        <span class="name">GE</span>
      </label>
      <label class="radio">
        <!-- prettier-ignore -->
        <input
          hx-post="/set_language/en"
          hx-swap="none"
          type="radio"
          name="radio"
          {% if lang == 'en' %} checked="" {% endif %}
          onclick="reloadPage(100)"
        />

        <span class="name">EN</span>
      </label>
    </div>
  </div>

  <div class="mobile-right">
    <div class="radio-inputs lang-mobile">
      <label class="radio">
        <!-- prettier-ignore -->
        <input
          hx-post="/set_language/ge"
          hx-swap="none"
          type="radio"
          name="radio2"
          {% if lang == 'ge' %} checked="" {% endif %}
          onclick="reloadPage(100)"
        />
        <span class="name">GE</span>
      </label>
      <label class="radio">
        <!-- prettier-ignore -->
        <input
          hx-post="/set_language/en"
          hx-swap="none"
          type="radio"
          name="radio2"
          {% if lang == 'en' %} checked="" {% endif %}
          onclick="reloadPage(100)"
        />

        <span class="name">EN</span>
      </label>
    </div>

    <div class="hamburger-menu" id="hamburgerMenu">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>

  <div class="context-menu" id="contextMenu">
    <div class="context-menu-links">
      <a href="/">
        <i class="fa-solid fa-house"></i>
        {{ tr.NAV.home }}
      </a>
      <a href="/search">
        <i class="fa-solid fa-magnifying-glass"></i>
        {{ tr.NAV.posts }}
      </a>
      <a href="/profile">
        <i class="fa-solid fa-user"></i>
        {{ tr.NAV.profile }}
      </a>
    </div>
  </div>
</nav>
<script
  src="https://kit.fontawesome.com/8ebc974816.js"
  crossorigin="anonymous"
></script>
<script src="/static/js/navbar.js"></script>
