{% extends "components/layout.html" %} {% block content %}

<style>
  {% include "home.css" %}
</style>

<body>
  <div class="home-content">
    <div class="search-content">
      <h1 class="search-title">იპოვე ოჯახის ახალი მეგობარი</h1>
      <form
        class="search-form"
        hx-get="/search"
        hx-params="*"
        hx-push-url="true"
        hx-boost="true"
        hx-swap="outerHTML"
        hx-trigger="submit[search(this)]"
        hx-target="body"
      >
        <img src="/assets/icons/search.svg" class="search-icon" alt="Search" />
        <input
          type="text"
          name="breed"
          class="search-input"
          placeholder="მაგ: ცხოველის ჯიში"
        />
        <button
          type="button"
          class="search-button"
          onmousedown="toggleFilters()"
        >
          <img src="/assets/icons/filter.svg" alt="Filter" />
          ფილტრი
        </button>
        <input type="submit" class="search-submit" value="ძებნა" />
      </form>
    </div>

    <!-- MOBILE FORM -->
    <form
      class="mobile-search-form"
      hx-get="/search"
      hx-params="*"
      hx-push-url="true"
      hx-boost="true"
      hx-swap="outerHTML"
      hx-trigger="submit[search(this)]"
      hx-target="body"
    >
      <img src="/assets/icons/search.svg" class="search-icon" alt="Search" />
      <input
        type="text"
        name="breed"
        class="search-input"
        placeholder="მაგ: ცხოველის ჯიში"
      />
      <button type="button" class="search-button" onmousedown="toggleFilters()">
        <img src="/assets/icons/filter.svg" alt="Filter" />
      </button>
      <input type="submit" class="search-submit" value="ძებნა" />
    </form>
  </div>

  <!-- FILTERS MODAL -->
  <div id="filtersModal" class="modal">
    <div class="modal-content">
      <div class="modal-title">
        <h1>დამატებით ფილტრი</h1>
        <img
          src="/assets/icons/close.svg"
          alt="Close"
          class="close"
          onmousedown="toggleFilters()"
        />
      </div>
      <div class="modal-line"></div>
      <form name="filtersForm">
        <div class="filter-row">
          <p>ტიპი</p>
          <div
            class="input-div"
            input-name="post_type"
            onmousedown="selectChip(event)"
          >
            <div class="chip" id="selling">იყიდება</div>
            <div class="chip" id="adopting">შეფარება</div>
            <div class="chip" id="meeting">შეჯვარება</div>
          </div>
        </div>

        <div class="filter-row">
          <p>ცხოველი</p>
          <div
            class="input-div"
            input-name="animal"
            onmousedown="selectChip(event)"
          >
            <div class="chip" id="dog">ძაღლი</div>
            <div class="chip" id="cat">კატა</div>
            <div class="chip" id="bird">ფრინველი</div>
            <div class="chip" id="fish">თევზი</div>
            <div class="chip" id="other">სხვა</div>
          </div>
        </div>

        <div class="filter-row">
          <p>სქესი</p>
          <div
            class="input-div"
            input-name="sex"
            onmousedown="selectChip(event)"
          >
            <div class="chip" id="girl">გოგო</div>
            <div class="chip" id="boy">ბიჭი</div>
          </div>
        </div>

        <div class="filter-row">
          <p>ასაკი</p>

          <div class="input-div">
            <img
              src="/assets/icons/calendar.svg"
              class="input-icon"
              alt="Calendar"
            />
            <input type="text" name="age" placeholder="0-12" />
            <p class="age-selector" onmousedown="toggleAgeDropdown()">
              წლის
              <img src="/assets/icons/dropdown-age.svg" alt="Arrow Down" />
            </p>

            <div
              class="age-dropdown"
              input-name="ageType"
              onmousedown="selectAgeType(event)"
            >
              <p id="years">წლის</p>
              <p id="months">თვის</p>
            </div>
          </div>
        </div>
        <div class="filter-row">
          <p>მდებარეობა</p>
          <div class="input-div">
            <img
              src="/assets/icons/location.svg"
              alt="Location"
              class="input-icon"
            />
            <div class="cities">{% include "components/cities.html" %}</div>
          </div>
        </div>

        <div class="filter-row">
          <p>ფასი</p>

          <div class="input-div price-div">
            <div class="price-input">
              <img
                src="/assets/icons/lari.svg"
                width="12"
                height="16"
                alt="Price"
              />
              <input type="text" name="price-min" placeholder="დან" />
            </div>
            <div class="price-input">
              <img
                src="/assets/icons/lari.svg"
                width="12"
                height="16"
                alt="Price"
              />
              <input type="text" name="price-max" placeholder="მდე" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="/static/js/home.js"></script>
</body>
{% endblock content %}
