{% extends "components/layout.html" %} {% block content %}

<style>
  {% include "home.css" %}
</style>

<body>
  <div class="home-content">
    <div class="search-content">
      <h1 class="search-title">იპოვე ოჯახის ახალი მეგობარი</h1>
      <form
        class="search-form"
        hx-get="/search"
        hx-params="*"
        hx-push-url="true"
        hx-boost="true"
        hx-swap="outerHTML"
        hx-trigger="submit[search(this)]"
        hx-target="body"
      >
        <img src="/assets/icons/search.svg" class="search-icon" alt="Search" />
        <input
          type="text"
          name="breed"
          class="search-input"
          placeholder="მაგ: ცხოველის ჯიში"
        />
        <button
          type="button"
          class="search-button"
          onmousedown="toggleFilters()"
        >
          <img src="/assets/icons/filter.svg" alt="Filter" />
          ფილტრი
        </button>
        <input type="submit" class="search-submit" value="ძებნა" />
      </form>
    </div>

    <!-- MOBILE FORM -->
    <form
      class="mobile-search-form"
      hx-get="/search"
      hx-params="*"
      hx-push-url="true"
      hx-boost="true"
      hx-swap="outerHTML"
      hx-trigger="submit[search(this)]"
      hx-target="body"
    >
      <img src="/assets/icons/search.svg" class="search-icon" alt="Search" />
      <input
        type="text"
        name="breed"
        class="search-input"
        placeholder="მაგ: ცხოველის ჯიში"
      />
      <button type="button" class="search-button" onmousedown="toggleFilters()">
        <img src="/assets/icons/filter.svg" alt="Filter" />
      </button>
      <input type="submit" class="search-submit" value="ძებნა" />
    </form>
  </div>

  <!-- FILTERS MODAL -->
  {% include "components/filters.html" %}

  <script src="/static/js/home.js"></script>
</body>
{% endblock content %}
