{% extends "components/layout.html" %} {% block content %}

<style>
  {% include "home.css" %}
</style>

<body>
  <div class="home-content">
    <div class="search-content">
      <h1 class="search-title">იპოვე ოჯახის ახალი მეგობარი</h1>
      <form
        class="search-form"
        hx-get="/search"
        hx-params="*"
        hx-push-url="true"
        hx-boost="true"
        hx-swap="outerHTML"
        hx-trigger="submit[search(this)]"
        hx-target="body"
      >
        <img src="/assets/icons/search.svg" class="search-icon" alt="Search" />
        <input
          type="text"
          name="breed"
          class="search-input"
          placeholder="მაგ: ცხოველის ჯიში"
        />
        <button
          type="button"
          class="search-button"
          onmousedown="toggleFilters()"
        >
          <img
            src="/assets/icons/filter.svg"
            width="18"
            height="12"
            alt="Filter"
          />
          ფილტრი
        </button>
        <input type="submit" class="search-submit" value="ძებნა" />
      </form>
    </div>

    <!-- MOBILE FORM -->
    <form
      class="mobile-search-form"
      hx-get="/search"
      hx-params="*"
      hx-push-url="true"
      hx-boost="true"
      hx-swap="outerHTML"
      hx-trigger="submit[search(this)]"
      hx-target="body"
    >
      <img src="/assets/icons/search.svg" class="search-icon" alt="Search" />
      <input
        type="text"
        name="breed"
        class="search-input"
        placeholder="მაგ: ცხოველის ჯიში"
      />
      <button type="button" class="search-button" onmousedown="toggleFilters()">
        <img
          src="/assets/icons/filter.svg"
          width="18"
          height="12"
          alt="Filter"
        />
      </button>
      <input type="submit" class="search-submit" value="ძებნა" />
    </form>

    <div class="categories-div">
      <p class="category">კატეგორიები</p>

      <div class="images">
        <a
          role="button"
          hx-get="/search?animal=dog"
          hx-boost="true"
          hx-swap="outerHTML"
          hx-target="body"
          hx-push-url="true"
          hx-trigger="mousedown"
          class="image blurred-img"
          style="background-image: url(/assets/categories/dog-min.webp)"
        >
          <img src="/assets/categories/dog.webp" loading="lazy" alt="Dog" />
          <p>ძაღლი</p>
        </a>
        <a
          role="button"
          hx-get="/search?animal=cat"
          hx-boost="true"
          hx-swap="outerHTML"
          hx-target="body"
          hx-push-url="true"
          hx-trigger="mousedown"
          class="image blurred-img"
          style="background-image: url(/assets/categories/cat-min.webp)"
        >
          <img src="/assets/categories/cat.webp" loading="lazy" alt="Cat" />
          <p>კატა</p>
        </a>
        <a
          role="button"
          hx-get="/search?animal=bird"
          hx-boost="true"
          hx-swap="outerHTML"
          hx-target="body"
          hx-push-url="true"
          hx-trigger="mousedown"
          class="image blurred-img"
          style="background-image: url(/assets/categories/bird-min.webp)"
        >
          <img src="/assets/categories/bird.webp" loading="lazy" alt="Bird" />
          <p>ფრინველი</p>
        </a>
        <a
          role="button"
          hx-get="/search?animal=fish"
          hx-boost="true"
          hx-swap="outerHTML"
          hx-target="body"
          hx-push-url="true"
          hx-trigger="mousedown"
          class="image blurred-img"
          style="background-image: url(/assets/categories/fish-min.webp)"
        >
          <img src="/assets/categories/fish.webp" loading="lazy" alt="Fish" />
          <p>თევზი</p>
        </a>
        <a
          role="button"
          hx-get="/search?animal=other"
          hx-boost="true"
          hx-swap="outerHTML"
          hx-target="body"
          hx-push-url="true"
          hx-trigger="mousedown"
          class="image blurred-img"
          style="background-image: url(/assets/categories/other-min.webp)"
        >
          <img src="/assets/categories/other.webp" loading="lazy" alt="Other" />
          <p>სხვა</p>
        </a>
      </div>
    </div>
  </div>
  <!-- FILTERS MODAL -->
  {% include "components/filters.html" %}

  <script async src="/static/js/home.js"></script>
</body>
{% endblock content %}
