{% extends "components/layout.html" %} {% block content %}
<link rel="stylesheet" href="static/css/auth.css" />

<body>
  <div class="form-div">
    <form
      hx-post="/login"
      hx-target=".msg"
      hx-trigger="submit[validateForm('loginForm')]"
      class="auth-form"
      name="loginForm"
    >
      <p class="auth-form-title">{{ tr.AUTH.login }}</p>

      <!-- EMAIL INPUT -->
      <label for="email" class="input-label">{{ tr.AUTH.email }}</label>
      <div class="input-group">
        <i class="fa fa-envelope icon"></i>
        <input
          type="text"
          name="email"
          aria-label="Email"
          oninput="this.classList.remove('invalid')"
        />
      </div>

      <!-- PASSWORD INPUT -->
      <label for="password" class="input-label">{{ tr.AUTH.password }}</label>
      <div class="input-group">
        <i class="fa-solid fa-lock icon"></i>
        <input type="password" name="password" aria-label="Password" />
      </div>

      <input type="submit" value="{{ tr.AUTH.login }}" />

      <div class="msg"></div>
    </form>
    <p class="auth-option">
      {{ tr.AUTH.auth_option_login }}
      <a href="/register">{{ tr.AUTH.register }}</a>
    </p>
  </div>

  <script src="/static/js/auth.js"></script>
</body>
{% endblock content %}
