{% extends "components/layout.html" %} {% block content %}

<link rel="stylesheet" href="/static/css/auth.css?v={{ ver }}" />

<body>
  <div class="form-div">
    {% include "components/auth_header.html" %}

    <form
      hx-post="/login"
      hx-target=".msg"
      hx-on:htmx:after-request="loginStatus()"
      hx-trigger="submit[validateForm('loginForm')]"
      class="auth-form"
      name="loginForm"
    >
      <div class="title-div">
        <h1 class="auth-form-title">{{ tr.AUTH.login }}</h1>
        <p>{{tr.AUTH.title_helper_login}}</p>
      </div>

      <!-- EMAIL INPUT -->
      <div class="input-group">
        <img src="/assets/icons/email.svg" alt="Email" class="icon-svg icon" />
        <input
          type="text"
          name="email"
          placeholder="{{ tr.AUTH.email }}"
          aria-label="Email"
        />
      </div>

      <!-- PASSWORD INPUT -->
      <div class="input-group">
        <img
          src="/assets/icons/password.svg"
          alt="Password"
          class="icon-svg icon"
        />
        <input
          type="password"
          name="password"
          placeholder="{{ tr.AUTH.password }}"
          aria-label="Password"
        />
        <a
          role="link"
          hx-get="/reset-password"
          hx-boost="true"
          hx-swap="outerHTML"
          hx-target="body"
          hx-push-url="true"
          hx-trigger="mousedown"
          class="forgot-password"
          >{{ tr.AUTH.reset_password }}</a
        >
      </div>

      <input type="submit" class="auth-submit" value="{{ tr.AUTH.login }}" />

      <div class="auth-option">
        {{ tr.AUTH.option_login }}
        <a
          role="link"
          hx-get="/register"
          hx-boost="true"
          hx-swap="outerHTML"
          hx-target="body"
          hx-push-url="true"
          hx-trigger="mousedown"
          >{{ tr.AUTH.register }}</a
        >
      </div>

      <div class="msg"></div>
    </form>
  </div>

  <script src="/static/js/auth.js?v={{ ver }}"></script>
</body>
{% endblock content %}
