{% extends "components/layout.html" %} 
<!-- prettier-ignore -->
{% block title %}
{% if post.post_type == "breeding" %}
  💜 {{ post.breed }} - {{ post.age }} {{ tr.FILTERS[post.age_type] }} | {{ tr.POSTTYPE[post.post_type] }}
{% elif post.post_type == "adopting" %}
  🩷 {{ post.breed }} - {{ post.age }} {{ tr.FILTERS[post.age_type] }} | {{ tr.POSTTYPE[post.post_type] }}
{% elif post.post_type == "selling" %}
  💚 {{ post.breed }} - {{ post.age }} {{ tr.FILTERS[post.age_type] }} | {{ tr.POSTTYPE[post.post_type] }}
{% endif %}
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{{content_url}}/static/css/post.css?v={{ ver }}" />

<body>
  {% if post == 'error' %}
  <h1 class="post-error">{{ tr.POST.error }}</h1>
  {% else %}
  <div class="post-main">
    <div class="post">
      <!-- TITLE -->
      <div class="title">
        <h1 class="breed">{{ post.breed }}</h1>
        <p>
          <img src="{{content_url}}/assets/icons/location.svg" alt="Location" />
          {{ post.city | replace(from='"', to='') }}, საქართველო
        </p>
      </div>

      <!-- IMAGES -->
      <div class="images-div">
        <div class="images blurred-img">
          <img
            src="{{ content_url | replace(from="/" ~ branch, to="") }}/post-images/{{post.id}}/0.jpg"
            loading="lazy"
            class="image active-image"
            image-id="0"
            alt="Post Image"
          />
        </div>
        {% if post.photos != '1' %}
        <div class="images blurred-img">
          <!-- prettier-ignore -->
          {% for x in range(start=1, end=post.photos | int) %}
          <img
            src="{{ content_url | replace(from="/" ~ branch, to="") }}/post-images/{{post.id}}/{{x}}.jpg"
            class="image"
            alt="Post Image"
            image-id="{{x}}"
          />
          {% endfor %}
        </div>
        {% endif %} {% if post.photos != '1' %}
        <div class="arrows">
          <div class="arrow" onmousedown="showPreviousImage()">
            <img
              src="{{content_url}}/assets/icons/arrow.svg"
              alt="Arrow Left"
            />
          </div>
          <div class="arrow" onmousedown="showNextImage()">
            <img
              src="{{content_url}}/assets/icons/arrow.svg"
              class="arrow-right"
              alt="Arrow Right"
            />
          </div>
        </div>
        {% endif %} {% if post.photos != '1' %}
        <div class="dots">
          <div class="dot active-dot"></div>
          {% for x in range(end=post.photos | int - 1) %}
          <div class="dot"></div>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <div class="type-mobile {{ post.post_type }}">
        <!-- prettier-ignore -->
        {% if post.price %}
           {{ post.price }} ₾
          {% else %}
            {{ tr.POSTTYPE[post.post_type] }}
          {% endif %}
      </div>

      <p class="views-mobile views">
        <img src="{{content_url}}/assets/icons/eye.svg" alt="Eye" />
        {{ post.views }} {{ tr.POST.views }}
      </p>

      <div class="post-details">
        <!-- ANIMAL -->
        <div class="detail-div">
          <img src="{{content_url}}/assets/icons/paw.svg" alt="Paw" />
          <div class="detail">
            <h1>{{ tr.UPLOAD.animal }}</h1>
            <p>{{ tr.ANIMALS[post.animal] }}</p>
          </div>
        </div>
        <!-- AGE -->
        <div class="detail-div">
          <img src="{{content_url}}/assets/icons/calendar.svg" alt="Calendar" />
          <div class="detail">
            <h1>{{ tr.UPLOAD.age }}</h1>
            <p>{{ post.age }} {{ tr.FILTERS[post.age_type] }}</p>
          </div>
        </div>
        <!-- GENDER -->
        <div class="detail-div">
          <img src="{{content_url}}/assets/icons/gender.svg" alt="Gender" />
          <div class="detail">
            <h1>{{ tr.UPLOAD.gender }}</h1>
            <p>{{ tr.UPLOAD[post.sex] }}</p>
          </div>
        </div>
        <!-- BREED -->
        <div class="detail-div">
          <img src="{{content_url}}/assets/icons/breed.svg" alt="Breed" />
          <div class="detail">
            <h1>{{ tr.UPLOAD.breed }}</h1>
            <p>{{ post.breed }}</p>
          </div>
        </div>
      </div>
      <div class="description">{{ post.description }}</div>
      <div class="line second-line"></div>
      <a href="/user/{{ post.user_id }}" class="user second-user">
        <img src="{{content_url}}/assets/icons/avatar.svg" alt="Avatar" />
        <p class="name">{{ post.user_name }}</p>
      </a>
    </div>
    <div class="user-details-parent">
      <div class="user-details">
        <div class="post-type">
          {% if post.price %}
          <h1 class="price">{{ post.price }} ₾</h1>
          {% endif %}
          <p class="type {{ post.post_type }}">
            {{ tr.POSTTYPE[post.post_type] }}
          </p>
          <p class="views">
            <img src="{{content_url}}/assets/icons/eye.svg" alt="Eye" />
            {{ post.views }} {{ tr.POST.views }}
          </p>
        </div>
        <div class="line"></div>

        <div class="user-details-div">
          <p class="phone">{{ post.phone }}</p>
          <a href="/user/{{ post.user_id }}" class="user">
            <img src="{{content_url}}/assets/icons/avatar.svg" alt="Avatar" />
            <p class="name">{{ post.user_name }}</p>
          </a>
        </div>
      </div>
    </div>

    <div class="details-mobile">
      <p class="phone">{{ post.phone }}</p>
    </div>
  </div>
  {% endif %}
  <script src="{{content_url}}/static/js/post.js?v={{ ver }}"></script>
</body>
{% endblock content %}
