{% extends "components/layout.html" %} {% block content %}

<style>
  {% include "post.css" %}
</style>

<body>
  {% if post == 'error' %}
  <h1 class="post-error">{{ tr.POST.error }}</h1>
  {% else %}
  <div class="post-main">
    <div class="post">
      <!-- TITLE -->
      <div class="title">
        <h1 class="breed">{{ post.breed }}</h1>
        <p>
          <img src="/assets/icons/location.svg" alt="Location" />
          {{ post.city | replace(from='"', to='') }}, საქართველო
        </p>
      </div>

      <!-- IMAGES -->
      <div class="images-div">
        <div class="images blurred-img">
          <img
            src="/var/uploads/post-images/{{post.id}}/0.jpg"
            loading="lazy"
            class="image active-image"
            image-id="0"
            alt="Post Image"
          />
        </div>
        <div class="images blurred-img">
          <!-- prettier-ignore -->
          {% if post.photos != '1' %}
        {% for x in range(start=1, end=post.photos | int) %}
          <img
            src="/var/uploads/post-images/{{post.id}}/{{x}}.jpg"
            class="image"
            alt="Post Image"
            image-id="{{x}}"
          />
          {% endfor %} {% endif %}
        </div>
        <div class="arrows">
          <div class="arrow" onmousedown="changeImage('left')">
            <img src="/assets/icons/arrow.svg" alt="Arrow Left" />
          </div>
          <div class="arrow" onmousedown="changeImage('right')">
            <img
              src="/assets/icons/arrow.svg"
              class="arrow-right"
              alt="Arrow Right"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="user-details-parent">
      <div class="user-details">
        <div class="post-type">
          {% if post.price %}
          <h1 class="price">{{ post.price }} ₾</h1>
          {% endif %}
          <p class="type {{ post.post_type }}">
            {{ tr.POSTTYPE[post.post_type] }}
          </p>
        </div>
        <div class="line"></div>

        <div class="user-details-div">
          <p class="phone">{{ post.phone }}</p>
          <a
            role="button"
            hx-get="/profile/{{ post.user_id }}"
            hx-boost="true"
            hx-swap="outerHTML"
            hx-target="body"
            hx-push-url="true"
            hx-trigger="mousedown"
            class="user"
          >
            <img src="/assets/icons/avatar.svg" alt="Avatar" />
            <p class="name">{{ post.user_name }}</p>
          </a>
        </div>
      </div>
    </div>

    <div class="details-mobile">
      <p class="phone">{{ post.phone }}</p>
    </div>
  </div>
  {% endif %}
  <script src="/static/js/post.js"></script>
</body>
{% endblock content %}
