{% extends "components/layout.html" %} {% block content %}
<link rel="stylesheet" href="static/css/profile.css" />

<body>
  <div class="container">
    <div class="left-div">
      <p class="profile-tab active-profile-tab" onclick="switchTab(this)">
        <i class="fa-solid fa-user"></i>
        Profile
      </p>
      <p class="posts-tab" onclick="switchTab(this)">
        <i class="fa-solid fa-image"></i>
        Posts
      </p>
    </div>
    <div class="right-div profile-info">
      <form hx-post="/api/profile-details" class="profile-info-form">
        <!-- NAME INPUT -->
        <label for="name" class="input-label">{{ tr.AUTH.name }}</label>
        <div class="input-group">
          <i class="fa-solid fa-user icon"></i>
          <input
            type="text"
            name="name"
            aria-label="Name"
            value="{{ claims.name }}"
          />
        </div>

        <!-- EMAIL INPUT -->
        <label for="email" class="input-label">{{ tr.AUTH.email }}</label>
        <div class="input-group">
          <i class="fa fa-envelope icon"></i>
          <input
            type="text"
            name="email"
            aria-label="Email"
            value="{{ claims.email }}"
          />
        </div>

        <!--  PHONE INPUT -->
        <label for="phone" class="input-label">{{ tr.AUTH.phone }}</label>
        <div class="input-group">
          <i class="fa-solid fa-phone icon"></i>
          <input
            type="text"
            name="phone"
            aria-label="Phone"
            value="{{ claims.phone }}"
          />
        </div>

        <input type="submit" value="{{ tr.PROFILE.save_changes }}" />

        <!--  CITY DROPDOWN -->
        <!-- <label for="name" class="input-label">{{ tr.AUTH.name }}</label> -->
        <!-- <div class="input-group"> -->
        <!--   <i class="fa-solid fa-user icon"></i> -->
        <!--   <input -->
        <!--     type="text" -->
        <!--     name="name" -->
        <!--     aria-label="Name" -->
        <!--     value="{{ claims.name }}" -->
        <!--   /> -->
        <!-- </div> -->
      </form>
    </div>
    <div class="right-div posts-info">posts</div>
  </div>

  <script src="/static/js/profile.js"></script>
</body>
{% endblock content %}
