{% extends "components/layout.html" %} {% block content %}
<link rel="stylesheet" href="static/css/profile.css" />

<body>
  <div class="container">
    <div class="left-div">
      <p class="profile-tab active-profile-tab" onclick="switchTab(this)">
        <i class="fa-solid fa-user"></i>
        Profile
      </p>
      <p class="posts-tab" onclick="switchTab(this)">
        <i class="fa-solid fa-image"></i>
        Posts
      </p>
    </div>
    <div class="right-div profile-info">
      <div class="form-container">
        <h2>{{tr.PROFILE.edit_details}}</h2>
        <form hx-post="/api/edit-profile" hx-trigger="submit" hx-target=".msg">
          <!-- NAME INPUT -->
          <div class="form-group">
            <label for="name">{{ tr.AUTH.name }}</label>
            <input
              type="text"
              name="name"
              value="{{ claims.name }}"
              aria-label="Name"
            />
          </div>

          <!-- EMAIL INPUT -->
          <div class="form-group">
            <label for="email">{{ tr.AUTH.email }}</label>
            <input
              type="text"
              name="email"
              value="{{ claims.email }}"
              aria-label="Email"
            />
          </div>

          <!-- PHONE INPUT -->
          <div class="form-group">
            <label for="phone">{{ tr.AUTH.phone }}</label>
            <input
              type="text"
              name="phone"
              value="{{ claims.phone }}"
              aria-label="Phone"
            />
          </div>

          <!-- CITY INPUT -->
          <div class="form-group">
            <label for="city">{{ tr.AUTH.city }}</label>
            {% include "components/cities.html" %}
          </div>

          <input type="hidden" name="id" value="{{claims.id}}" />
          <input type="hidden" name="password" value="" />

          <button type="submit">{{ tr.PROFILE.save_changes }}</button>

          <p class="msg"></p>
        </form>
      </div>
    </div>
    <div class="right-div posts-info">posts</div>
  </div>

  <script src="/static/js/profile.js"></script>
</body>
{% endblock content %}
