{% extends "components/layout.html" %}
<!-- prettier-ignore -->
{% block title %}
Pender - პროფილი
{% endblock title %}

{% block content %}

<link
  rel="stylesheet"
  href="{{content_url}}/static/css/profile.css?v={{ ver }}"
/>

<body>
  <div class="profile-main" x-data="{ activeTab: 'details' }">
    <div class="selector-div">
      <p
        class="selector-item profile-selector"
        :class="{ 'active-selector': activeTab === 'details' }"
        @mousedown="activeTab = 'details'"
      >
        <img
          src="{{content_url}}/assets/icons/user.svg"
          alt="User"
          loading="lazy"
          width="18"
          height="18"
        />
        {{ tr.NAV.profile }}
      </p>
      <p
        class="selector-item posts-selector"
        @mousedown="activeTab = 'posts'"
        :class="{ 'active-selector': activeTab === 'posts' }"
      >
        <img
          src="{{content_url}}/assets/icons/picture.svg"
          width="18"
          height="18"
          alt="Posts"
          loading="lazy"
        />
        {{ tr.PROFILE.posts }}
      </p>
    </div>
    <div class="details-div" x-show="activeTab === 'details'">
      <h1>{{ tr.PROFILE.edit_details }}</h1>
      <p>{{ tr.PROFILE.title_helper }}</p>
      <form
        hx-post="/api/edit-profile"
        hx-trigger="submit"
        hx-target=".msg"
        class="details-form"
      >
        <!-- NAME INPUT -->
        <div class="input-div">
          <label for="name">{{ tr.AUTH.name }}</label>
          <img
            src="{{content_url}}/assets/icons/user.svg"
            class="profile-input-icon"
            alt="User"
            loading="lazy"
            width="18"
            height="18"
          />
          <input
            type="text"
            name="name"
            value="{{ claims.name }}"
            aria-label="Name"
          />
        </div>

        <!-- EMAIL INPUT -->
        <div class="input-div">
          <label for="email">{{ tr.AUTH.email }}</label>
          <img
            src="{{content_url}}/assets/icons/email.svg"
            class="profile-input-icon"
            alt="Email"
            loading="lazy"
            width="18"
            height="18"
          />
          <input
            type="text"
            name="email"
            value="{{ claims.email }}"
            aria-label="Email"
          />
        </div>

        <!-- PHONE INPUT -->
        <div class="input-div">
          <label for="phone">{{ tr.AUTH.phone }}</label>
          <img
            src="{{content_url}}/assets/icons/phone.svg"
            class="profile-input-icon"
            alt="Phone"
            loading="lazy"
            width="18"
            height="18"
          />
          <input
            type="text"
            name="phone"
            value="{{ claims.phone }}"
            aria-label="Phone"
          />
        </div>

        <!-- CITY INPUT -->
        <div class="input-div">
          <label for="city">{{ tr.AUTH.city }}</label>
          <img
            src="{{content_url}}/assets/icons/location.svg"
            class="profile-input-icon"
            alt="City"
            loading="lazy"
            width="18"
            height="18"
          />
          {% include "components/cities.html" %}
        </div>

        <!-- FACEBOOK INPUT -->
        <div class="input-div">
          <label for="facebook">{{ tr.PROFILE.facebook }}</label>
          <img
            src="{{content_url}}/assets/icons/facebook.svg"
            class="profile-input-icon"
            alt="Facebook"
            loading="lazy"
            width="18"
            height="18"
          />

          <!-- prettier-ignore -->
          <input type="text" name="facebook" 
            {% if claims.facebook != ' ' and claims.facebook != '' %}
            value="{{ claims.facebook }}" 
            {% else %}
            placeholder="{{ tr.PROFILE.facebook_ex }}"
            {% endif %}
            aria-label="Facebook"
          />
        </div>

        <div class="profile-line"></div>

        <div class="final-actions">
          <input
            hx-get="/profile#"
            hx-target="body"
            hx-swap="outerHTML"
            type="button"
            class="save-btn cancel"
            value="{{ tr.PROFILE.cancel }}"
          />

          <input
            type="submit"
            onclick="triggerToast('ცვლილებები შენახულია', '#a48afb', 'check')"
            class="save-btn"
            value="{{ tr.PROFILE.save_changes }}"
          />
        </div>

        <div class="msg"></div>
        <input type="hidden" name="id" value="{{claims.id}}" />
        <input type="hidden" name="password" value="" />
      </form>
    </div>
    <div class="posts-div" x-show="activeTab === 'posts'" x-cloak>
      <h1>{{ count }} {{ tr.USER.posts }}</h1>
      <div class="posts-line"></div>
      <div class="posts">{% include "components/posts.html" %}</div>
    </div>
  </div>
  <div id="confirmModal" class="confirm-modal">
    <div class="content">
      <div class="alert-icon">
        <img src="{{content_url}}/assets/icons/alert.svg" alt="Alert" />
      </div>
      <h1>{{ tr.PROFILE.sure }}</h1>
      <p>{{ tr.PROFILE.action }}</p>
      <button
        type="button"
        hx-on:mousedown="deletePost()"
        hx-indicator="#spinner"
        class="deleteBtn"
      >
        {{ tr.PROFILE.delete }}
      </button>
      <button
        type="button"
        class="cancel"
        hx-on:mousedown="htmx.find('#confirmModal').classList.toggle('show-confirm')"
      >
        {{ tr.PROFILE.cancel }}
      </button>
      <div id="spinner" class="loader loader-indicator"></div>
    </div>
  </div>
  {% include "components/toast.html" %}

  <script src="{{content_url}}/static/js/profile.js?v={{ ver }}"></script>
</body>
{% endblock content %}
