{% extends "components/layout.html" %} {% block content %}
<link rel="stylesheet" href="static/css/auth.css" />

<body>
  <div class="form-div">
    <form
      hx-post="/register"
      hx-target=".msg"
      hx-trigger="submit[validateForm('registerForm')]"
      class="auth-form"
      name="registerForm"
    >
      <p class="auth-form-title">{{ tr.AUTH.register }}</p>

      <!-- EMAIL INPUT -->
      <label for="email" class="input-label">{{ tr.AUTH.email }}</label>
      <div class="input-group">
        <i class="fa fa-envelope icon"></i>
        <input type="text" name="email" aria-label="Email" />
      </div>

      <!-- NAME INPUT -->
      <label for="name" class="input-label">{{ tr.AUTH.name }}</label>
      <div class="input-group">
        <i class="fa fa-user icon"></i>
        <input type="text" name="name" aria-label="Name" />
      </div>

      <!-- PHONE INPUT -->
      <label for="phone" class="input-label">{{ tr.AUTH.phone }}</label>
      <div class="input-group">
        <i class="fa fa-phone icon"></i>
        <input type="text" name="phone" aria-label="Phone" />
      </div>

      <!-- CITY INPUT -->
      <label for="city" class="input-label">{{ tr.AUTH.city }}</label>
      <div class="input-group">
        <i class="fa fa-location-dot icon"></i>
        {% include "components/cities.html" %}
      </div>

      <div class="cities-dropdown" style="display: none">
        <div class="cities-div"></div>
      </div>

      <!-- PASSWORD INPUT -->
      <label for="password" class="input-label">{{ tr.AUTH.password }}</label>
      <div class="input-group">
        <i class="fa-solid fa-lock icon"></i>
        <input type="password" name="password" aria-label="Password" />
      </div>

      <input type="hidden" name="facebook" value="facebook.com">

      <input type="submit" value="{{ tr.AUTH.register }}" />

      <div class="msg"></div>
      <div class="lds-dual-ring spinner" style="display: none"></div>
    </form>
    <p class="auth-option">
      {{ tr.AUTH.auth_option_register }}
      <a href="/login">{{ tr.AUTH.login }}</a>
    </p>
  </div>

  <script src="/static/js/auth.js"></script>
</body>
{% endblock content %}
