{% extends "components/layout.html" %} {% block content %}
<style>
  {% include "auth.css" %}
</style>

<body>
  <div class="form-div">
    <form
      hx-post="/register"
      hx-target=".msg"
      hx-trigger="submit[validateForm('registerForm')]"
      class="auth-form"
      name="registerForm"
    >
      <p class="auth-form-title">{{ tr.AUTH.register }}</p>

      <!-- EMAIL INPUT -->
      <div class="input-group">
        <i class="fa fa-envelope icon"></i>
        <input
          type="text"
          name="email"
          placeholder="{{ tr.AUTH.email }}"
          aria-label="Email"
        />
      </div>

      <!-- NAME INPUT -->
      <div class="input-group">
        <i class="fa fa-user icon"></i>
        <input
          type="text"
          name="name"
          placeholder="{{ tr.AUTH.name }}"
          aria-label="Name"
        />
      </div>

      <!-- PHONE INPUT -->
      <div class="input-group">
        <i class="fa fa-phone icon"></i>
        <input
          type="text"
          name="phone"
          placeholder="{{ tr.AUTH.phone }}"
          aria-label="Phone"
        />
      </div>

      <!-- CITY INPUT -->
      <div class="input-group">
        <i class="fa fa-location-dot icon"></i>
        {% include "components/cities.html" %}
      </div>

      <div class="cities-dropdown" style="display: none">
        <div class="cities-div"></div>
      </div>

      <!-- PASSWORD INPUT -->
      <div class="input-group">
        <i class="fa-solid fa-lock icon"></i>
        <input
          type="password"
          name="password"
          placeholder="{{ tr.AUTH.password }}"
          aria-label="Password"
        />
      </div>

      <input type="hidden" name="facebook" value=" " />

      <input type="submit" value="{{ tr.AUTH.register }}" />

      <div class="auth-option">
        <div class="option-line"></div>
        <a role="button" hx-get="/login" hx-target="body" hx-swap="outerHTML">{{ tr.AUTH.login }}</a>
        <div class="option-line"></div>
      </div>

      <div class="msg"></div>
      <div class="lds-dual-ring spinner" style="display: none"></div>
    </form>
  </div>

  <script src="/static/js/auth.js"></script>
</body>
{% endblock content %}
