{% extends "components/layout.html" %} {% block content %}
<link rel="stylesheet" href="static/css/auth.css" />
<link rel="stylesheet" href="static/css/reset_password.css" />

<body>
  <div class="form-div">
    <form
      hx-post="/api/reset-password"
      hx-target=".msg"
      hx-trigger="submit[validateForm('resetForm')]"
      class="auth-form"
      name="resetForm"
    >
      <p class="auth-form-title">{{ tr.AUTH.reset_password }}</p>

      <!-- EMAIL INPUT -->
      <label for="email" class="input-label">{{ tr.AUTH.email }}</label>
      <div class="input-group">
        <i class="fa fa-envelope icon"></i>
        <input type="text" name="email" aria-label="Email" />
      </div>

      <input type="submit" value="{{ tr.AUTH.send_code }}" />

      <div class="msg"></div>
      <div class="lds-dual-ring" style="display: none"></div>
    </form>

    <!-- SECOND STEP -->
    <form
      hx-post="/api/confirm-code"
      hx-target=".resetMsg"
      hx-trigger="submit[validateForm('resetCodeForm')]"
      class="auth-form second-step"
      name="resetCodeForm"
    >
      <p class="auth-form-title">{{ tr.AUTH.reset_password }}</p>

      <!-- CODE INPUT -->
      <label for="code" class="input-label">{{ tr.AUTH.code }}</label>
      <div class="input-group">
        <i class="fa fa-hashtag icon"></i>
        <input type="text" name="code" aria-label="Code" />
      </div>

      <!-- PASSWORD INPUT -->
      <label for="password" class="input-label">{{ tr.AUTH.password}}</label>
      <div class="input-group">
        <i class="fa fa-lock icon"></i>
        <input type="password" name="password" aria-label="Password" />
      </div>

      <input type="submit" value="{{ tr.AUTH.reset_password }}" />

      <div class="resetMsg"></div>
      <div class="lds-dual-ring" style="display: none"></div>
    </form>
  </div>

  <script src="/static/js/auth.js"></script>
  <script src="/static/js/reset_password.js"></script>
</body>
{% endblock content %}
