{% extends "components/layout.html" %} {% block content %}
<link rel="stylesheet" href="static/css/auth.css" />
<link rel="stylesheet" href="static/css/reset_password.css" />

<body>
  <div class="form-div">
    <form
      hx-post="/api/reset-password"
      hx-target=".msg"
      hx-trigger="submit[validateForm('resetForm')]"
      class="auth-form"
      name="resetForm"
    >
      <p class="auth-form-title">{{ tr.AUTH.reset_password }}</p>

      <!-- EMAIL INPUT -->
      <label for="email" class="input-label">{{ tr.AUTH.email }}</label>
      <div class="input-group">
        <i class="fa fa-envelope icon"></i>
        <input type="text" name="email" aria-label="Email" />
      </div>

      <input type="submit" value="{{ tr.AUTH.send_code }}" />

      <div class="msg"></div>
    </form>
  </div>

  <script src="/static/js/auth.js"></script>
</body>
{% endblock content %}
