{% extends "components/layout.html" %} {% block content %}

<link rel="stylesheet" href="/static/css/auth.css" />
<link rel="stylesheet" href="/static/css/reset_password.css" />

<body>
  {% include "components/auth_header.html" %}

  <div class="form-div">
    <form
      hx-post="/api/reset-password"
      hx-target=".msg"
      hx-trigger="submit[validateForm('resetForm')]"
      class="auth-form"
      name="resetForm"
    >
      <div class="title-div">
        <h1 class="auth-form-title">{{ tr.AUTH.reset_password }}</h1>
        <p>{{tr.AUTH.reset_helper }}</p>
      </div>

      <!-- EMAIL INPUT -->
      <div class="input-group">
        <img src="/assets/icons/email.svg" alt="Email" class="icon-svg icon" />
        <input
          type="text"
          name="email"
          placeholder="{{ tr.AUTH.email }}"
          aria-label="Email"
        />
      </div>

      <input type="submit" value="{{ tr.AUTH.send_code }}" />

      <div class="msg"></div>
    </form>

    <!-- SECOND STEP -->
    <form
      hx-post="/api/confirm-code"
      hx-target=".resetMsg"
      hx-trigger="submit[validateForm('resetCodeForm')]"
      class="auth-form second-step"
      name="resetCodeForm"
    >
      <div class="title-div">
        <h1 class="auth-form-title">{{ tr.AUTH.check_email }}</h1>
      </div>

      <!-- CODE INPUT -->
      <div class="input-group">
        <img src="/assets/icons/code.svg" alt="Email" class="icon-svg icon" />
        <input
          type="text"
          name="code"
          aria-label="Code"
          autocomplete="off"
          placeholder="{{ tr.AUTH.code }}"
        />
      </div>

      <!-- PASSWORD INPUT -->
      <div class="input-group">
        <img
          src="/assets/icons/password.svg"
          alt="Email"
          class="icon-svg icon"
        />
        <input
          type="password"
          name="password"
          placeholder="{{ tr.AUTH.password}}"
          aria-label="Password"
          autocomplete="off"
        />
      </div>

      <input type="submit" value="{{ tr.AUTH.reset_password_submit }}" />

      <div class="resetMsg"></div>
    </form>
  </div>

  <script src="/static/js/auth.js"></script>
  <script src="/static/js/reset_password.js"></script>
</body>
{% endblock content %}
