{% extends "components/layout.html" %} {% block content %}

<style>
  {% include "search.css" %}
</style>

<body>
  <div class="search-container">
    <div class="form-container">
      <img src="/assets/search-dog.webp" class="form-img form-dog" alt="Dog" />
      <img src="/assets/search-cat.webp" class="form-img form-cat" alt="Cat" />

      <form class="search-form">
        <h1 class="search-title">მოძებნე შენთვის სასურველი პოსტი</h1>
        <div class="search-inputs">
          <input type="text" name="breed" placeholder="მაგ: ცხოველის ჯიში" />
        </div>
      </form>
    </div>
  </div>
</body>
{% endblock content %}
