{% extends "components/layout.html" %} {% block content %}

<style>
  {% include "search.css" %}
  {% include "posts.css" %}
</style>

<body>
  <div class="search-content">
    <div class="search-header">
      <h1>{{ tr.SEARCH.found }} {{ count }} {{ tr.SEARCH.posts }}</h1>
      <form
        class="search-actions"
        hx-get="/search"
        hx-params="*"
        hx-push-url="true"
        hx-boost="true"
        hx-swap="outerHTML"
        hx-trigger="submit[search(this)]"
        hx-target="body"
      >
        <div class="search-input">
          <div class="input-div">
            <img src="/assets/icons/search.svg" alt="Search" />
            <input
              type="text"
              name="breed"
              placeholder="{{ tr.HOME.search_input }}"
            />
          </div>

          <input type="submit" value="{{ tr.HOME.search }}" />
        </div>

        <div class="search-filters">
          <button
            type="button"
            class="filters-btn"
            onmousedown="toggleFilters()"
          >
            <img src="/assets/icons/filter.svg" alt="Filter" />
            {{ tr.HOME.filter }}
            <div class="filters-num">1</div>
          </button>
        </div>
      </form>
    </div>
    <div class="search-line"></div>
    <div class="posts {% if posts|length == 2 %}posts-two{% endif %}">
      <!-- prettier-ignore -->
      {% if posts | length > 0 %}
        {% include "components/posts.html" %}
      {% else %}
      <div class="not-found">
        <img src="/assets/icons/not_found.svg" alt="Not Found" />
        {{ tr.SEARCH.not_found }}
      </div>
      {% endif %}
    </div>
    <div class="pagination">
      <button type="button" onmousedown="changePage('prev')">
        <img src="/assets/icons/arrow.svg" alt="Arrow Left" />
      </button>
      <p class="pageNum">1</p>
      <button
        type="button"
        class="arrow-right"
        onmousedown="changePage('next')"
      >
        <img src="/assets/icons/arrow.svg" alt="Arrow Right" />
      </button>
    </div>
  </div>

  <!-- FILTERS MODAL -->
  {% include "components/filters.html" %}

  <script async src="/static/js/home.js"></script>
  <script src="/static/js/search.js"></script>
</body>
{% endblock content %}
