{% extends "components/layout.html" %}
<!-- prettier-ignore -->
{% block title %}
Pender - {{ user.name }}
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{{content_url}}/static/css/user.css?v={{ ver }}" />

<body>
  <div class="user-profile-container">
    <div class="user-container">
      <img src="{{content_url}}/assets/search-img.webp" alt="User Img" />
      <div class="user-initials">GC</div>
      <div class="user-info">
        <h1>{{ user.name }}</h1>
        <p>{{ user.phone }}</p>
      </div>
      <div class="user-profile-line"></div>

      <div class="details">
        <div class="detail">
          <img
            src="{{content_url}}/assets/icons/user_location.svg"
            alt="Location"
          />
          <div>
            <p>{{ tr.AUTH.city }}</p>
            <h1>{{ user.city }}</h1>
          </div>
        </div>
        {% if user.facebook != '' and user.facebook != ' '%}
        <div class="detail">
          <img src="{{content_url}}/assets/icons/user_fb.svg" alt="Location" />
          <div>
            <p>{{ tr.USER.fb }}</p>
            <a href="{{ user.facebook }}" target="_blank"
              >{{ user.facebook }}</a
            >
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="posts-container">
      <h1>{{ count }} {{ tr.USER.posts }}</h1>
      <div class="posts-line"></div>
      <div class="posts">{% include "components/posts.html" %}</div>
    </div>
  </div>
  <script>
    var initialsDiv = htmx.find(".user-initials");
    var name = "{{user.name}}";
    var initials = name[0];
    if (name.includes(" ") && name.split(" ")[1][0])
      initials += name.split(" ")[1][0];

    initialsDiv.textContent = initials.toUpperCase();
  </script>
</body>
{% endblock content %}
