{% extends "components/layout.html" %} {% block content %}

<style>
  {% include "user.css" %}
</style>

<body>
  <div class="user-profile-container">
    <div class="user-container">
      <img src="/assets/user-profile-img.webp" alt="User Img" />
      <div class="user-info">
        <h1>{{ user.name }}</h1>
        <p>{{ user.phone }}</p>
      </div>
      <div class="user-profile-line"></div>

      <div class="details">
        <div class="detail">
          <img src="/assets/icons/user_location.svg" alt="Location" />
          <div>
            <p>{{ tr.AUTH.city }}</p>
            <h1>{{ user.city }}</h1>
          </div>
        </div>
        {% if user.facebook %}
        <div class="detail">
          <img src="/assets/icons/user_fb.svg" alt="Location" />
          <div>
            <p>{{ tr.USER.fb }}</p>
            <a href="{{ user.facebook }}" target="_blank">{{ user.facebook }}</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="posts-container"></div>
  </div>
</body>
{% endblock content %}
