$text: #4f3534;
$background: #fcf5f4;
$primary: #e56154;
$secondary: #ffc183;
$accent: #fff;
$placeholder: #996e59;
$disabled: #69423f;
$border: #d5c2b3;

// Colors
// Rose
$rose-50: #fcf5f4;
$rose-100: #fae7e6;
$rose-200: #f7d3d1;
$rose-300: #f1b4b0;
$rose-400: #e78882;
$rose-500: #d9625a;
$rose-600: #c4463e;
$rose-700: #a5372f;
$rose-800: #8b322c;
$rose-900: #722f2a;

// Lime
$lime-50: #f3ffe7;
$lime-100: #e4fbcc;
$lime-200: #d0f8ab;
$lime-300: #a6ef67;
$lime-400: #85e13a;
$lime-500: #66c61c;
$lime-600: #4ca30d;
$lime-700: #3b7c0f;
$lime-800: #32621d;
$lime-900: #2b5314;

// Neutral
$neutral-50: #f6f3f0;
$neutral-100: #e9e0d8;
$neutral-200: #d5c2b3;
$neutral-300: #bc9d88;
$neutral-400: #a87f67;
$neutral-500: #996e59;
$neutral-600: #83594b;
$neutral-700: #6a453e;
$neutral-800: #4f3534;
$neutral-900: #1a1010;

// Violet
$violet-50: #f5f3ff;
$violet-100: #ece9fe;
$violet-200: #ddd6fe;
$violet-300: #c3b5fd;
$violet-400: #a48bfb;
$violet-500: #875bf7;
$violet-600: #7839ee;
$violet-700: #6927da;
$violet-800: #5720b7;
$violet-900: #491c96;

// Indigo
$indigo-50: #eef4ff;
$indigo-100: #e0eaff;
$indigo-200: #c7d7fe;
$indigo-300: #a4bcfd;
$indigo-400: #8098f9;
$indigo-500: #6172f3;
$indigo-600: #444ce7;
$indigo-700: #3538cd;
$indigo-800: #2d31a6;
$indigo-900: #2d3282;
