:root {
  --text: #4f3534;
  --background: #fcf5f4;
  --primary: #e56154;
  --secondary: #ffc183;
  --accent: #fff;
  --placeholder: #996e59;
  --disabled: #69423f;
  --border: #d5c2b3;
}

@font-face {
  font-family: "GEOMedium";
  src: url("https://d19qt7p7fni613.cloudfront.net/fonts/GEOMedium.woff2");

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GEOMedium";
  src: url("https://d19qt7p7fni613.cloudfront.net/fonts/GEOBold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GEOMedium";
  src: url("https://d19qt7p7fni613.cloudfront.net/fonts/GEORegular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "GEOMedium", sans-serif;
  font-weight: 500;

  letter-spacing: 0.6px;
  line-height: 1.3;

  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;

  background-image: linear-gradient(
    to right bottom,
    #fffbfa,
    #fff8f6,
    #fff5f3,
    #fff1f0,
    #ffeeed,
    #ffeeed,
    #ffeeed,
    #ffeeed,
    #fff1f0,
    #fff5f3,
    #fff8f6,
    #fffbfa
  );
  color: var(--text);

  margin: 0;
  padding-top: 120px;
}

a {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

.icon-svg {
  width: 18px;
  height: 18px;
}

.main-content {
  max-width: 1620px;
  margin: auto;
  margin-bottom: 50px;
  min-height: 100vh;
  // transition: opacity 0.15s ease-out;
  // opacity: 0;
}

.blurred-img {
  background-repeat: no-repeat;
  background-size: cover;

  img {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }
}

.blurred-img::before {
  /* content: ""; */
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 1s infinite;
  background-color: white;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.blurred-img.loaded::before {
  animation: none;
}

.blurred-img.loaded img {
  opacity: 1;
}
