@import "variables";

.home-content {
  width: 82%;
  background: $accent;
  border-radius: 26px;
  margin: auto;
  padding: 50px;
  box-shadow: 0px 1px 2px 0px #0c0c0d1a;
  display: flex;
  flex-direction: column;
  gap: 28px;
  position: relative;
  overflow: hidden;

  .top-container {
    position: relative;
    background: linear-gradient(
      to bottom,
      #fae7e6,
      #fae7e6 92%,
      transparent 100%
    );
    margin: -50px;
    padding: 50px;
    padding-bottom: 60px;

    &__pattern {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
      -webkit-mask-image: linear-gradient(
        to bottom,
        black 70%,
        transparent 100%
      );
      pointer-events: none;
    }

    &__line {
      width: 100%;
      height: 1px;
      background-color: $accent;

      @media (max-width: 1100px) {
        display: none;
      }
    }

    .category {
      margin: 0;
    }

    &__popular-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 42px;
      margin-bottom: 34px;
      margin-right: 10px;
    }

    &__posts {
      display: flex;
      width: calc(100% + 24px);
      margin: 0 -10px;

      /* flex-wrap: wrap; */
      justify-content: space-between;
      gap: 24px;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      user-select: none;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        display: none;
      }

      .post {
        scroll-snap-align: center;
        position: relative;
        background-color: white;
        border-radius: 16px;
        padding: 8px;

        img {
          border-radius: 12px;
        }
      }

      @media (max-width: 1490px) {
        padding: 0 50px;
        width: unset;
        /* width: calc(100% + 38px); */
        margin: 0 -50px;
        box-sizing: border-box;
        flex-wrap: unset !important;
      }

      @media (max-width: 400px) {
        gap: 48px;

        .post {
          flex: 0 0 90%;
          display: flex;
          align-items: center;
        }
      }
    }

    .placeholder-box {
      width: 296px;
      height: 379px;
    }

    .search {
      display: flex;
      justify-content: space-between;

      &__pets-div {
        height: 530px;
      }

      &__pets-img {
        width: 100%;
        max-width: 600px;
        min-width: 370px;
        height: auto;
        position: relative;
      }

      &__form-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 520px;
        margin-top: 30px;
        /* padding: 20px; */
        word-wrap: break-word;
      }

      &__paragraph {
        font-size: 20px;
        font-weight: 400;
        color: $neutral-600;
      }

      &__title {
        margin: 0;
        font-size: 54px;
        font-weight: 700;

        span {
          color: $primary;
          font-weight: 700;
        }
      }

      &__form {
        &__input-container {
          position: relative;
        }

        input {
          height: 60px;
          width: 100%;
          box-sizing: border-box;
          border-radius: 60px;
          border: none;
          outline: none;
        }

        &__search-icon {
          position: absolute;
          z-index: 10;
          left: 18px;
          top: 50%;
          transform: translateY(-50%);
          width: 18px;
          height: 18px;
        }

        &__breed {
          padding-left: 46px !important;
          font-size: 16px;
          background-color: $accent;
          color: $text;

          &::placeholder {
            color: $neutral-500;
          }
        }

        &__filter {
          position: absolute;
          right: 6px;
          top: 50%;
          transform: translateY(-50%);
          height: 48px;
          width: auto;
          padding: 12px 16px;
          box-sizing: border-box;
          border-radius: 70px;
          border: none;
          color: $neutral-800;
          background-color: $neutral-50;
          font-size: 16px;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 6px;
        }

        &__submit {
          margin-top: 24px;
          font-size: 18px;
          background-color: $primary;
          color: $accent;
          cursor: pointer;
          transition: 0.2s ease-in-out;

          &:hover {
            scale: 1.02;
          }
        }
      }

      @media (max-width: 1100px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 0;
      }

      @media (max-width: 768px) {
        &__title-div {
          margin: 0px -20px 0px -20px;
        }

        &__pets-div {
          height: auto;
        }

        &__title {
          font-size: 28px;
        }

        &__paragraph {
          font-size: 16px;
        }

        &__form-container {
          width: 100%;
          margin-top: 0;
        }

        &__form {
          &__breed,
          &__submit {
            font-size: 16px;
            height: 54px !important;
          }

          &__filter {
            width: 44px;
            height: 44px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              display: none !important;
            }
          }
        }

        &__pets-img {
          min-width: 320px;
        }
      }
    }
  }

  .category {
    font-size: 26px;
    font-weight: bold;
    margin-top: 28px;
  }

  .categories-div {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .category-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .images {
      display: flex;
      justify-content: space-between;
      height: 280px;
      overflow-x: auto;
      gap: 30px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
      user-select: none;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        display: none;
      }

      .image {
        scroll-snap-align: center;
        z-index: 1;
        position: relative;
        top: 0;
        transition: top ease 0.3s;

        &:hover {
          top: 8px;
        }

        p {
          font-size: 20px;
          text-align: center;
        }
      }

      img,
      .image {
        width: 217px;
        height: 217px;
        border-radius: 100%;
      }

      @media (min-width: 769px) and (max-width: 1420px) {
        padding: 0 50px;
        /* width: calc(100% + 38px); */
        margin: 0 -50px;
      }

      @media (max-width: 768px) {
        padding: 0 50px;
        /* width: calc(100% + 56px); */
        height: 170px;
        margin: 0 -50px;
        box-sizing: border-box;
        gap: 20px;

        .image p {
          font-size: 14px;
        }

        img,
        .image {
          width: 120px;
          height: 120px;
        }
      }
    }
  }

  .posts-div {
    margin-top: 40px;

    .posts-title {
      display: flex;
      justify-content: space-between;
      margin-right: 10px;
      margin-bottom: 34px;
      position: relative;
      z-index: 1;

      .actions-div {
        display: flex;
        align-items: center;
        gap: 16px;
      }

      p {
        margin: 0;
      }
    }
  }

  .features-container {
    z-index: 1;
  }

  .features-div {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    .line {
      height: 1px;
      background-color: #e9e0d8;
      margin: 24px 0px;
    }

    .feature {
      display: flex;
      gap: 20px;
      width: 510px;

      img {
        width: 56px;
        height: 56px;
      }

      h1 {
        font-size: 20px;
        color: var(--text);
      }

      p {
        font-weight: 400;
        color: #83594b;
      }
    }

    .features-img-div {
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      z-index: 1;
    }

    .features-img {
      max-width: 100%;
      min-height: 280px;
      height: auto;
    }
  }

  .circle {
    width: 400px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
    z-index: 0;
    will-change: filter;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;

    &.circle2 {
      height: 350px;
      background-color: $indigo-300;
      opacity: 0.6;
      top: 1500px;
      left: 40px;
    }

    &.circle3 {
      filter: blur(80px);

      width: 700px;
      height: 100px;
      background-color: $lime-400;
      opacity: 0.4;
      top: 1950px;
      right: 40px;
    }

    &.circle4 {
      width: 550px;
      background-color: #ffcc00;
      opacity: 0.4;
      bottom: -130px;
      left: 300px;
    }

    @media (min-width: 769px) and (max-width: 1100px) {
      &.circle2 {
        top: 2000px;
      }
    }

    @media (max-width: 768px) {
      filter: blur(60px);

      &.circle2 {
        height: 230px;
        top: 1500px;
        left: -200px;
        opacity: 0.3;
      }

      &.circle3 {
        height: 150px;
        top: 2500px;
        opacity: 0.3;
      }

      &.circle4 {
        width: 300px;
        bottom: 300px;
        left: unset;
        opacity: 0.3;
        right: -180px;
      }
    }
  }

  .arrows-div {
    display: none;
    gap: 16px;

    @media (min-width: 769px) and (max-width: 1460px) {
      display: flex;
    }

    button {
      border: 1px solid $rose-100;
      border-radius: 100%;
      background-color: $accent;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    img {
      width: 9px;
      height: 16px;
    }

    .arrow-right {
      transform: rotate(180deg);
    }
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: auto;
    gap: 34px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;
    position: relative;
    z-index: 1;
    scroll-snap-type: x mandatory;

    .post {
      scroll-snap-align: center;

      .blurred-img {
        width: 100%;
      }
      .blurred-img.loaded {
        background-color: $accent;
      }
    }

    @media (max-width: 400px) {
      gap: 50px;

      .post {
        flex: 0 0 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  .all-posts {
    color: #4f3534;
    font-size: 18px;
    font-weight: 400;
  }

  .upload-div {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 250px;
    box-sizing: border-box;

    overflow: hidden;
    position: relative;

    margin-top: 42px;
    /* padding: 20px; */

    background-color: $indigo-100;

    border: 1px solid $indigo-300;
    border-radius: 16px;

    z-index: 1;

    &__text {
      max-width: 660px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      padding: 20px 30px;
      position: relative;
      z-index: 1;

      &__title {
        font-weight: 400;
        font-size: 28px;

        span {
          font-weight: 700;
          color: $indigo-500;
        }
      }
      &__paragraph {
        width: 500px;
        word-wrap: break-word;
        margin: 0;

        font-weight: 400;
        color: $neutral-600;
      }

      &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 10px 16px;
        gap: 8px;

        width: 180px;
        height: 44px;
        box-sizing: border-box;
        font-size: 14px;

        color: $accent;
        background: rgb(236, 126, 114);
        background: linear-gradient(
          132deg,
          rgba(236, 126, 114, 1) 0%,
          rgba(229, 97, 84, 1) 50%,
          rgba(236, 126, 114, 1) 100%
        );
        border-radius: 40px;

        transition: 0.2s;
        &:hover {
          scale: 1.03;
        }
      }

      &__action-div {
        max-width: 300px;

        display: flex;
        gap: 20px;
      }

      &__arrow {
        position: relative;
        top: -15px;
      }
    }

    &__pattern {
      position: absolute;
      top: 0;
      left: 0px;
      object-fit: fill;
      pointer-events: none;
    }

    &__image {
      height: 220px;
      top: 30px;
      position: relative;
      display: block;
      mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
      -webkit-mask-image: linear-gradient(
        to bottom,
        black 70%,
        transparent 100%
      );
    }

    @media (min-width: 1000px) and (max-width: 1200px) {
      height: 270px;

      &__image {
        top: 50px;
      }
    }

    @media (max-width: 1000px) {
      height: 390px;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      &__image {
        height: 140px;
      }

      &__text {
        padding: 10px;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__title {
          font-size: 22px;
        }

        &__paragraph {
          width: unset;
          font-size: 14px;
        }

        &__arrow {
          display: none;
        }

        &__action-div {
          margin: 0 auto;
        }
      }
      &__image {
        padding-right: 30px;
        margin: auto;
      }
    }

    @media (max-width: 650px) {
      &__image {
        top: 10px;
        mask-image: linear-gradient(to bottom, black 65%, transparent 100%);
        -webkit-mask-image: linear-gradient(
          to bottom,
          black 65%,
          transparent 100%
        );
      }
    }
  }
}

@media (max-width: 950px) {
  .features-div {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .feature {
      width: 250px !important;
      margin: auto;
      flex-direction: column;
      gap: 0px !important;
    }

    .features-img-div {
      max-width: 400px !important;
    }

    @media (max-width: 400px) {
      .feature-details {
        h1 {
          font-size: 18px !important;
        }
        p {
          font-size: 14px !important;
        }
      }
    }
  }
}

@media (max-width: 1490px) {
  .posts {
    padding: 0 50px;
    /* width: calc(100% + 58px); */
    margin: 0 -50px;
    box-sizing: border-box;
    flex-wrap: unset !important;
  }
}

@media (max-width: 768px) {
  .category {
    font-size: 20px !important;
  }

  .home-content {
    width: 75%;
    padding: 30px;
  }

  .posts-title {
    flex-direction: column;
    gap: 26px;

    a {
      font-size: 16px !important;
    }
  }
}

.placeholder-box {
  width: 280px;
  height: 363px;
  background-color: var(--background);
  position: relative;
  overflow: hidden;
  border-radius: 26px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      transparent 0%,
      #ffedef 50%,
      transparent 100%
    );
    animation: loading 0.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
