@import "variables";

.profile-main {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 20px;
}

/* SELECTOR CSS */
.selector-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px;
  gap: 10px;
  width: 260px;
  height: 128px;
  background: var(--accent);
  box-shadow: 0px 4px 6px 2px #10182808;
  border-radius: 26px;
  margin-right: 60px;
  font-weight: bold;
}

.selector-item {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px 14px;
  width: 80%;
  cursor: pointer;
  border-radius: 38px;
  transition: 0.2s;
}

.selector-item:hover {
  background-color: #f6f3f0;
}

.selector-item img {
  margin-right: 10px;
}

.active-selector {
  background-color: #f6f3f0;
  transition: 0.2s;
}

.active-selector:hover {
  background-color: #e9e0d8;
}

/* DETAILS CSS */
.details-div {
  position: relative;
  width: 969px;
  height: 664px;
  padding: 50px;
  background-color: var(--accent);
  box-shadow: 0px 4px 6px 2px #10182808;
  border-radius: 26px;
}

.posts-div {
  background-color: var(--accent);
  box-shadow: 0px 4px 6px 2px #10182808;
  border-radius: 26px;
  width: 1049px;
  max-height: 80vh;
  padding: 50px;
  box-sizing: border-box;
  position: relative;

  h1 {
    font-size: 24px;
  }

  .posts-line {
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 12px;
    background-color: #e9e0d8;
  }

  .posts {
    margin-top: 29px;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(80vh - 138px);
    -ms-overflow-style: none;
    scrollbar-width: none;

    .post {
      width: 260px;
      margin-top: 24px;

      .blurred-img {
        width: 260px;

        img {
          width: 260px;
        }
      }
    }
  }
}

.details-div h1 {
  font-size: 30px;
}

.details-div p {
  font-size: 16px;
  color: var(--placeholder);
  font-weight: 400;
}

@media (max-width: 900px) {
  .profile-main {
    flex-direction: column;
  }

  .selector-div {
    flex-direction: row;
    margin: auto;
    margin-bottom: 30px;
    width: 330px;
    height: 80px;
  }

  .details-div {
    width: 70%;
    height: 700px;
    margin: auto;
  }

  .posts-div {
    margin: auto;
    width: 320px;
    height: unset;
    max-height: unset;
    padding: 30px;

    .posts {
      max-height: unset;
      justify-content: center;
    }
  }

  .details-div h1 {
    font-size: 20px;
    text-align: center;
  }
  .details-div p {
    font-size: 14px;
    text-align: center;
  }

  .final-actions {
    justify-content: center !important;
    flex-direction: row-reverse !important;
  }

  .cities-div {
    top: 53px !important;
  }
}

/* FROM CSS */
.details-form {
  margin-top: 40px;
}

.input-div {
  display: flex;
  flex-direction: column-reverse;
  padding: 0px;
  gap: 6px;
}

.input-div input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 14px;
  gap: 9px;
  border: 1px solid var(--border);
  color: var(--text);
  border-radius: 70px;
  width: 100%;
  padding-left: 46px;
  outline: none;
  transition: 0.2s;
  font-size: 16px;
}

.input-div input:hover {
  border-color: #83594b;
}

.input-div label {
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #4f3534;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.profile-input-icon {
  position: relative;
  left: 16px;
  bottom: 36px;
  width: 18px;
}

.cities-div {
  top: 50px;
}

.profile-line {
  height: 1px;
  background-color: var(--border);
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0.7;
  margin-top: 26px;
}

.save-btn {
  outline: none;
  border: none;
  width: 104px;
  height: 48px;
  font-size: 16px;
  color: var(--accent);
  background: var(--primary);
  border-radius: 50px;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.save-btn:hover {
  background-color: #c4463e;
}

.cancel:hover {
  border-color: #83594b;
  background-color: var(--accent);
}

.final-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: 28px;
}

.cancel {
  background-color: var(--accent);
  color: var(--text);
  border: 1px solid var(--border);
}

.msg {
  display: none;
}

.hide-tab {
  display: none;
}

.delete-icon {
  position: absolute;
  top: 34px;
  left: 10px;

  width: 38px !important;
  height: 38px !important;
  background-color: #fae7e5;
  padding: 8px;

  cursor: pointer;
  box-sizing: border-box;
  border-radius: 100%;
}

.confirm-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  .content {
    width: 450px;
    padding: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fff;
    box-shadow: 0px 4px 6px 2px #10182808;
    border-radius: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 22px;
    }

    p {
      color: #83594b;
      width: 80%;
      text-align: center;
    }

    .alert-icon {
      width: 32px;
      height: 32px;
      background-color: #fae7e5;
      padding: 8px;
      border-radius: 100%;
    }

    button {
      border: none;
      background-color: var(--primary);
      border-radius: 12px;
      color: #fff;
      width: 80%;
      margin: 8px;
      padding: 12px;
      font-size: 20px;
      cursor: pointer;
    }

    .cancel {
      background-color: #fff;
      color: var(--text);
      border: 1px solid var(--border);
    }

    button:disabled {
      background-color: #e78882;
      cursor: not-allowed;
    }

    .loader {
      margin-top: 24px;
      width: 50px;
      padding: 8px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: $primary;
      --_m: conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
      -webkit-mask: var(--_m);
      mask: var(--_m);
      -webkit-mask-composite: source-out;
      mask-composite: subtract;
      animation: l3 1s infinite linear;
    }
  }
  @media (max-width: 764px) {
    .content {
      width: 75%;
    }
  }
}

.show-confirm {
  display: block;
  opacity: 1;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.loader-indicator {
  display: none;
}

.htmx-request .loader-indicator {
  display: inline;
}
.htmx-request.loader-indicator {
  display: inline;
}
