@import "variables";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .steps {
    width: 750px;
    height: 104px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    gap: 16px;

    padding: 20px 0px;
    border-radius: 26px;

    background-color: $accent;
    box-shadow: 0px 1px 4px 0px #0c0c0d0d;
    box-shadow: 0px 1px 4px 0px #0c0c0d1a;

    user-select: none;

    &__step {
      width: 170px;

      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      img {
        opacity: 0.4;
      }

      p {
        font-size: 16px;
        margin: 0;
      }
    }

    &__active {
      img,
      p {
        opacity: 1;
      }
      color: $indigo-600;
    }

    &__circle {
      position: relative;

      &__line {
        width: 260px;
        height: 2px;

        background-color: $indigo-500;
        opacity: 0.3;

        position: absolute;
        top: 15px;
        left: 32px;
      }
    }

    @media (max-width: 768px) {
      width: 340px;
      height: 74px;

      &__circle {
        &__line {
          width: 87px;
        }
      }

      p {
        display: none;
      }
    }

    .hidden {
      display: none;
    }
  }

  .info-wrapper {
    width: 750px;
    height: 564px;
    background-color: $accent;
    box-shadow: 0px 1px 4px 0px #0c0c0d0d;

    border-radius: 26px;
    @media (max-width: 768px) {
      width: 340px;
      height: 516px;
    }
  }

  .info {
    position: relative;
    width: 750px;
    height: 564px;
    padding: 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 36px;

    background-color: $accent;
    box-shadow: 0px 1px 4px 0px #0c0c0d0d;

    border-radius: 26px;
    user-select: none;

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 8px;

      h1 {
        font-size: 24px;
        margin: 0;
      }

      p {
        color: $neutral-600;

        font-weight: 400;
        font-size: 16px;

        margin: 0;
      }
    }

    @media (max-width: 768px) {
      width: 340px;
      height: 516px;
      padding: 30px 20px;
      gap: 24px;

      &__title {
        h1 {
          width: 243px;
          font-size: 20px;
        }
        p {
          width: 300px;
          font-size: 14px;
        }
      }
    }

    .active-chip {
      background-color: $rose-100 !important;
      outline-color: $primary;
    }
  }

  .info.htmx-swapping {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .actions {
    width: 750px;
    height: 92px;
    padding: 22px 50px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $accent;
    box-shadow: 0px 1px 4px 0px #0c0c0d0d;
    box-shadow: 0px 1px 4px 0px #0c0c0d1a;

    border-radius: 26px;

    user-select: none;

    button {
      font-size: 16px;

      color: $neutral-600;
      background-color: unset;
      border: none;

      cursor: pointer;
    }

    &__next {
      width: 200px;
      height: 48px;

      background-color: $primary !important;
      color: $accent !important;

      border-radius: 20px;
      padding: 10px 18px;

      transition: scale 0.2s;

      &:hover {
        scale: 1.02;
      }
    }

    &__last {
      /* box-shadow: 0 4px 15px rgba($indigo-400, 0.4); */
      background: linear-gradient(
        45deg,
        $violet-500,
        $violet-400,
        $indigo-400,
        $indigo-500
      );
      background-size: 150% 150%;
      animation: pulse 2s infinite;
    }

    @keyframes pulse {
      0% {
        box-shadow:
          0 0 8px rgba($violet-400, 0.7),
          0 0 12px rgba($indigo-300, 0.5);
      }
      50% {
        box-shadow:
          0 0 14px rgba($violet-400, 0.9),
          0 0 20px rgba($indigo-300, 0.7);
      }
      100% {
        box-shadow:
          0 0 8px rgba($violet-400, 0.7),
          0 0 12px rgba($indigo-300, 0.5);
      }
    }

    @media (max-width: 768px) {
      position: fixed;
      bottom: 0;
      z-index: 10;

      width: 100%;
      height: 74px;
      padding: 30px;

      border-radius: 0;
      border-top: 1px solid $neutral-100;

      button {
        font-size: 14px;
      }

      &__next {
        width: 170px;
        height: 38px;

        padding: 8px 16px;
      }
    }
  }
}

.footer {
  display: none;
}
