<style>
  {% include "cities.css" %}
</style>

<!-- prettier-ignore -->
<input
  type="text"
  name="city_dummy"
  hx-get="/api/get-cities"
  hx-trigger="keyup delay:100ms changed"
  hx-params="*"
  hx-target=".cities-div"
  onkeyup="showCities(this)"
  form="dummy-form"
  autocomplete="off"
  aria-label="City"
  placeholder="{{ tr.AUTH.city }}"
  {% if route not in ['/register', '/login', '/upload'] %}
  value="{{ claims.city }}"
  {% endif %}
/>

<!-- prettier-ignore -->
<input type="hidden" name="city" 
  {% if route not in ['/register', '/login', '/upload'] %}
  value="{{claims.city_value}}" 
  {% endif %}
/>

<div class="cities-dropdown" style="display: none">
  <div class="cities-div"></div>
</div>

<script src="/static/js/cities.js"></script>
