<link rel="stylesheet" href="static/css/cities.css" />

<!-- prettier-ignore -->
<input
  type="text"
  name="city_dummy"
  hx-get="/api/get-cities"
  hx-trigger="keyup delay:200ms changed"
  hx-params="*"
  hx-target=".cities-div"
  onkeyup="showCities()"
  form="dummy-form"
  autocomplete="off"
  aria-label="City"

  {% if route != '/login' and route != '/register' %}
  value="{{ claims.city }}"
  {% endif %}
/>
<input type="hidden" name="city" />

<div class="cities-dropdown" style="display: none">
  <div class="cities-div"></div>
</div>

<script src="/static/js/cities.js"></script>
