<link rel="stylesheet" href="/static/css/filters.css?v={{ ver }}" />

<div id="filtersModal" class="modal">
  <div class="modal-content">
    <div class="modal-title">
      <h1>{{ tr.FILTERS.additional }}</h1>
      <img
        src="/assets/icons/close.svg"
        alt="Close"
        class="close"
        onmousedown="toggleFilters()"
      />
    </div>
    <div class="modal-line"></div>

    <form onsubmit="event.preventDefault()" name="filtersForm">
      <div class="filter-row">
        <p>{{ tr.FILTERS.type }}</p>
        <div
          class="input-div"
          input-name="post_type"
          onmousedown="selectChip(event)"
        >
          <div class="chip" id="selling">{{ tr.POSTTYPE.buying }}</div>
          <div class="chip" id="adopting">{{ tr.POSTTYPE.adopting }}</div>
          <div class="chip" id="meeting">{{ tr.POSTTYPE.meeting }}</div>
        </div>
      </div>

      <div class="filter-row">
        <p>{{ tr.UPLOAD.animal }}</p>
        <div
          class="input-div"
          input-name="animal"
          onmousedown="selectChip(event)"
        >
          <div class="chip" id="dog">{{ tr.ANIMALS.dog }}</div>
          <div class="chip" id="cat">{{ tr.ANIMALS.cat }}</div>
          <div class="chip" id="bird">{{ tr.ANIMALS.bird }}</div>
          <div class="chip" id="fish">{{ tr.ANIMALS.fish }}</div>
          <div class="chip" id="other">{{ tr.ANIMALS.other }}</div>
        </div>
      </div>

      <div class="filter-row">
        <p>{{ tr.UPLOAD.gender }}</p>
        <div class="input-div" input-name="sex" onmousedown="selectChip(event)">
          <div class="chip" id="girl">{{ tr.UPLOAD.girl }}</div>
          <div class="chip" id="boy">{{ tr.UPLOAD.boy }}</div>
        </div>
      </div>

      <div class="filter-row">
        <p>{{ tr.FILTERS.age }}</p>

        <div class="input-div">
          <img
            src="/assets/icons/calendar.svg"
            class="input-icon"
            alt="Calendar"
          />
          <input
            type="text"
            name="age"
            input-name="age"
            placeholder="{{ tr.FILTERS.max_age }}"
          />
          <p class="age-selector" id="all" onmousedown="toggleAgeDropdown()">
            {{ tr.FILTERS.age_type }}
            <img src="/assets/icons/dropdown-age.svg" alt="Arrow Down" />
          </p>

          <div
            class="age-dropdown"
            input-name="age_type"
            onmousedown="selectAgeType(event)"
          >
            <p id="years">{{ tr.FILTERS.years }}</p>
            <p id="months">{{ tr.FILTERS.months }}</p>
          </div>
        </div>
      </div>
      <div class="filter-row">
        <p>{{ tr.FILTERS.location }}</p>
        <div class="input-div">
          <img
            src="/assets/icons/location.svg"
            alt="Location"
            class="input-icon"
          />
          <div class="cities">{% include "components/cities.html" %}</div>
        </div>
      </div>

      <div class="filter-row">
        <p>{{ tr.FILTERS.price }}</p>

        <div class="input-div price-div">
          <div class="price-input">
            <img
              src="/assets/icons/lari.svg"
              width="12"
              height="16"
              alt="Price"
            />
            <input
              type="text"
              name="price_min"
              input-name="price_min"
              placeholder="{{ tr.FILTERS.from }}"
            />
          </div>
          <div class="price-input">
            <img
              src="/assets/icons/lari.svg"
              width="12"
              height="16"
              alt="Price"
            />
            <input
              type="text"
              name="price_max"
              input-name="price_max"
              placeholder="{{ tr.FILTERS.to }}"
            />
          </div>
        </div>
      </div>
    </form>
    <div class="modal-line"></div>

    <div class="filter-row">
      <div class="input-div submit-div">
        <button type="button" onmousedown="clearFilters()">
          <img src="/assets/icons/cancel.svg" alt="Cancel" />
          {{ tr.FILTERS.cancel }}
        </button>
        <!-- prettier-ignore   -->
        {% if route == '/search' %}
        <input
          type="submit"
          onmousedown="saveFilters(); updateFiltersNum()"
          value="{{ tr.FILTERS.save }}"
        />
        {% else %}
        <input
          type="submit"
          onmousedown="saveFilters()"
          value="{{ tr.FILTERS.save }}"
        />
        {% endif%}
      </div>
    </div>
  </div>
</div>

<script async src="/static/js/filters.js?v={{ ver }}"></script>
