<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Pet Meeting Website" />

<link rel="stylesheet" href="/static/css/global.css" />
<link rel="stylesheet" href="/static/css/navbar.css" />

<script
  src="https://unpkg.com/htmx.org@1.9.10"
  integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
  crossorigin="anonymous"
></script>

<link rel="preload" as="image" href="/assets/search-img.webp" />

<title>Pender</title>
