<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="გაყიდვა, შეფარება, შეჯვარება" />
<meta
  name="keywords"
  content="ცხოველები, ცხოველების გაყიდვა, ცხოველების ყიდვა, ცხოველის გაჩუქება, ცხოველის შეფარება, ცხოველის შეჯვარება"
/>
<meta
  name="google-site-verification"
  content="kWvxuW5x71-CnpKZ_3PKWD4lsiyEV3OXpt_WNCtXSIc"
/>
<meta property="og:image" content="https://i.imgur.com/zQITpoH.png" />

<link rel="stylesheet" href="/static/css/global.css?v={{ ver }}" />
<link rel="stylesheet" href="/static/css/navbar.css?v={{ ver }}" />

<!-- Preload CSS files -->
<link rel="preload" href="/static/css/auth.css?v={{ ver }}" as="style" />
<link rel="preload" href="/static/css/cities.css?v={{ ver }}" as="style" />
<link rel="preload" href="/static/css/filters.css?v={{ ver }}" as="style" />
<link rel="preload" href="/static/css/footer.css?v={{ ver }}" as="style" />
<link rel="preload" href="/static/css/global.css?v={{ ver }}" as="style" />
<link rel="preload" href="/static/css/home.css?v={{ ver }}" as="style" />
<link rel="preload" href="/static/css/post.css?v={{ ver }}" as="style" />
<link rel="preload" href="/static/css/posts.css?v={{ ver }}" as="style" />
<link rel="preload" href="/static/css/profile.css?v={{ ver }}" as="style" />
<link
  rel="preload"
  href="/static/css/reset_password.css?v={{ ver }}"
  as="style"
/>
<link rel="preload" href="/static/css/search.css?v={{ ver }}" as="style" />
<link rel="preload" href="/static/css/upload.css?v={{ ver }}" as="style" />
<link rel="preload" href="/static/css/user.css?v={{ ver }}" as="style" />

<link rel="preload" href="/assets/icons/ENG.svg" as="image" />
<link
  rel="preconnect"
  href="https://pender-assets.s3.eu-central-1.amazonaws.com"
/>

<!-- <link rel="preload" href="https://unpkg.com/htmx.org@1.9.12" as="script" /> -->
<script src="/static/js/htmx.js"></script>

<title>Pender</title>
