<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pet Meeting Website" />

    {% include "components/imports.html" %}

    <title>Pender</title>
  </head>
  <body>
    <div class="navbar-div">
      <nav class="navbar">
        <div class="navbar-logo">
          <a href="/#" hx-boost="true">
            <img src="/assets/logo.svg" alt="Logo" width="74" height="54" />
          </a>
        </div>

        <ul class="navbar-links" id="navbarLinks" hx-boost="true">
          <li id="home">
            <a href="/#"> {{ tr.NAV.home }} </a>
          </li>
          <li id="upload">
            <a href="/upload#"> {{ tr.NAV.upload }}</a>
          </li>
          {% if claims %}
          <li id="profile">
            <a href="/profile#">{{ tr.NAV.profile }}</a>
          </li>
          {% else %}
          <li id="login">
            <a href="/login#">{{ tr.NAV.login }}</a>
          </li>
          {% endif %}
        </ul>

        <div class="navbar-profile">
          <div class="radio-inputs lang-full">
            <label class="radio">
              <!-- prettier-ignore -->
              <input
            hx-post="/api/set_language/GE"
            hx-swap="none"
            type="radio"
            name="radio"
            {% if lang == 'GE' %} checked="" {% endif %}
            onclick="reloadPage(100)"
          />
              <span class="name">GE</span>
            </label>
            <label class="radio">
              <!-- prettier-ignore -->
              <input
            hx-post="/api/set_language/EN"
            hx-swap="none"
            type="radio"
            name="radio"
            {% if lang == 'EN' %} checked="" {% endif %}
            onclick="reloadPage(100)"
          />

              <span class="name">EN</span>
            </label>
          </div>
          {% if claims %}
          <a
            role="button"
            hx-post="/logout"
            class="logout-btn"
            hx-swap="none"
            aria-label="Logout"
          >
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
          {% endif %}
        </div>

        <div class="mobile-right">
          <div class="radio-inputs lang-mobile">
            <label class="radio">
              <!-- prettier-ignore -->
              <input
            hx-post="/api/set_language/GE"
            hx-swap="none"
            type="radio"
            name="radio2"
            {% if lang == 'GE' %} checked="" {% endif %}
            onclick="reloadPage(100)"
          />
              <span class="name">GE</span>
            </label>
            <label class="radio">
              <!-- prettier-ignore -->
              <input
            hx-post="/api/set_language/EN"
            hx-swap="none"
            type="radio"
            name="radio2"
            {% if lang == 'EN' %} checked="" {% endif %}
            onclick="reloadPage(100)"
          />

              <span class="name">EN</span>
            </label>
          </div>

          <div class="hamburger-menu" id="hamburgerMenu">
            <i class="fa-solid fa-bars" id="menu-icon"></i>
          </div>
        </div>

        <div class="mobile-menu hide-mobile-menu" id="mobileMenu">
          <i class="fa-solid fa-magnifying-glass search search-icon"></i>
          <form action="/search">
            <input
              type="text"
              name="text"
              onsubmit="search(this)"
              placeholder="{{ tr.NAV.search }}"
            />
            <input type="hidden" name="animal" class="animal-input" />

            <div class="animal-dropdown" onclick="showDropdown()">
              <i class="fa fa-caret-down"></i>
            </div>
          </form>

          <div class="animal-dropdown-div">
            <div class="animal-dropdown-content">
              <p id="dog" class="dog">{{ tr.ANIMALS.dog }}</p>
              <p id="cat" class="cat">{{ tr.ANIMALS.cat }}</p>
              <p id="bird" class="dove">{{ tr.ANIMALS.bird }}</p>
              <p id="fish" class="fish">{{ tr.ANIMALS.fish }}</p>
              <p id="other" class="ellipsis">{{ tr.ANIMALS.other }}</p>
            </div>
          </div>

          <div class="mobile-menu-links" hx-boost="true">
            <a href="/#" class="menu-link" id="home">
              <i class="fa-solid fa-house"></i>
              {{ tr.NAV.home }}
            </a>
            <a href="/upload#" class="menu-link" id="upload">
              <i class="fa-solid fa-cloud-arrow-up"></i>
              {{ tr.NAV.upload }}
            </a>
            {% if claims %}
            <a href="/profile#" class="menu-link" id="profile">
              <i class="fa-solid fa-user"></i>
              {{ tr.NAV.profile }}
            </a>
            {% else %}
            <a href="/login#" class="menu-link" id="login">
              <i class="fa-solid fa-right-to-bracket"></i>
              {{ tr.NAV.login }}
            </a>
            {% endif %}
          </div>
          {% if claims %}
          <div class="line"></div>
          <div class="mobile-profile">
            <a
              role="button"
              hx-post="/logout"
              hx-swap="none"
              aria-label="Logout"
            >
              <i class="fa-solid fa-right-from-bracket"> </i>
              {{ tr.NAV.logout }}
            </a>
          </div>
          {% endif %}
        </div>
      </nav>
    </div>

    <div class="circle yellow"></div>

    <!-- prettier-ignore -->
    <div class="main-content">
    {% block content %}{% endblock content %}
    </div>

    {% if route not in ['/register', '/login', '/upload', '/reset-password'] %}
    <a href="/upload#" hx-boost="true" class="plus-btn" aria-label="Upload">
      <i class="fa-solid fa-plus"></i>
    </a>
    {% endif %}

    <!-- prettier-ignore -->
    {% include "components/footer.html" %}

    <script>
      window.addEventListener("load", async function () {
        const body = document.querySelector("body");
        body.style.opacity = 1;
      });
    </script>
    <script src="/static/js/navbar.js"></script>
  </body>
</html>
