<!doctype html>
<html lang="en">
  <head>
    {% include "components/imports.html" %}
  </head>
  <body hx-history="true" hx-boost="true">
    <!-- NAVBAR -->
    {% include "components/navbar.html" %}

    <!-- PAWS -->
    {% include "components/paws.html" %}

    <!-- prettier-ignore -->
    <div class="main-content">
    {% block content %}{% endblock content %}
    </div>

    <!-- prettier-ignore -->
    {% include "components/footer.html" %}

    <script>
      window.addEventListener("load", async function () {
        const body = document.querySelector(".main-content");
        body.style.opacity = 1;
      });

      var blurredImageDivs = document.querySelectorAll(".blurred-img");

      blurredImageDivs.forEach(function (blurredImageDiv) {
        var img = blurredImageDiv.querySelector("img");

        function loaded() {
          blurredImageDiv.classList.add("loaded");
        }

        if (img.complete) {
          loaded();
        } else {
          img.addEventListener("load", loaded);
        }
      });
    </script>
    <script src="/static/js/navbar.js?v={{ ver }}"></script>
  </body>
</html>
