<div class="navbar-div">
  <nav class="navbar" x-data="{ dropdownOpen: false }">
    <a href="/" class="logo-box">
      <img
        src="{{content_url}}/assets/logo.svg?v={{ ver }}"
        width="59"
        height="42"
        alt="Logo"
      />
      <h1>Pender</h1>
    </a>

    <div class="nav-right">
      <a href="/upload" class="upload">
        <img src="{{content_url}}/assets/icons/upload_nav.svg" alt="Upload" />
        {{ tr.NAV.upload }}
      </a>

      {% if claims %}
      <a
        role="button"
        class="user-div dropdownBtn"
        @mousedown="dropdownOpen = ! dropdownOpen"
      >
        <div class="user-icon-div">
          <img
            src="{{content_url}}/assets/icons/user_nav.svg"
            width="16"
            height="18"
            class="user-icon"
            alt="User"
          />
        </div>
        <p>{{ claims.name | split(pat=" ") | first }}</p>
        <img
          src="{{content_url}}/assets/icons/dropdown.svg"
          class="arrow-down"
          id="hidden"
          alt="Arrow"
          width="13"
          height="7"
          :class="{ 'rotate-180': dropdownOpen }"
        />
      </a>
      {% else %}
      <a href="/login" class="user-div login-div">
        <div class="user-icon-div">
          <img
            src="{{content_url}}/assets/icons/login.svg"
            class="user-icon login-icon"
            alt="User"
          />
        </div>
        <p>{{ tr.NAV.login }}</p>
      </a>
      {% endif %}

      <div
        class="nav-dropdown"
        x-cloak
        x-show="dropdownOpen"
        @mousedown.outside="dropdownOpen = false"
        x-transition:enter="dropdown-enter"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="dropdown-leave"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
      >
        {% if claims %}
        <div class="user-info">
          <p class="user-name">{{ claims.name }}</p>
          <p class="user-email">{{ claims.email }}</p>
        </div>

        <div class="dropdown-line"></div>
        {% endif %}
        <div class="dropdown-actions">
          {% if claims %}
          <a href="/profile" class="dropdown-action">
            <img src="{{content_url}}/assets/icons/user.svg" alt="User" />
            {{ tr.NAV.profile }}
          </a>
          {% else %}
          <a href="/login" class="dropdown-action">
            <img src="{{content_url}}/assets/icons/login.svg" alt="Log In" />
            {{ tr.NAV.login }}
          </a>
          {% endif %}
          <a href="/search?animal=all" class="dropdown-action">
            <img src="{{content_url}}/assets/icons/picture.svg" alt="Picture" />
            {{ tr.PROFILE.posts }}
          </a>
          <a href="/upload" class="dropdown-action">
            <img src="{{content_url}}/assets/icons/upload.svg" alt="Upload" />
            {{ tr.NAV.upload }}
          </a>
        </div>

        {% if claims %}
        <div class="dropdown-line"></div>
        <div class="dropdown-actions logout-action">
          <a
            role="link"
            hx-get="/login"
            hx-swap="outerHTML"
            hx-target="body"
            hx-push-url="true"
            hx-trigger="mousedown"
            hx-on::before-request="logout()"
          >
            <img src="{{content_url}}/assets/icons/logout.svg" alt="Logout" />
            {{ tr.NAV.logout }}
          </a>
        </div>
        {% endif %}
      </div>

      <a role="link" onmousedown="changeLang('{{ lang }}')" class="navbar-lang">
        <img src="{{content_url}}/assets/icons/{{lang}}.svg" alt="Flag" />
      </a>

      {% if not claims %}
      <link rel="preload" href="/assets/icons/close.svg" as="image" />

      <div class="hamburger-div">
        <img
          x-bind:src="dropdownOpen ? '{{content_url}}/assets/icons/close.svg' : '{{content_url}}/assets/icons/hamburger.svg'"
          alt="Menu"
          width="32"
          height="32"
          class="menu-icon dropdownBtn"
          id="hidden"
          @mousedown="dropdownOpen = !dropdownOpen"
        />
      </div>
      {% endif %}
    </div>
  </nav>
</div>
