<div class="navbar-div">
  <nav class="navbar">
    <a href="/#" hx-boost="true" class="logo-box">
      <img src="/assets/logo.svg" alt="Logo" />
      <h1>Pender</h1>
    </a>

    <div class="nav-right">
      <a href="/upload#" hx-boost="true" class="upload">
        <img src="/assets/icons/upload_nav.svg" alt="Upload" />
        {{ tr.NAV.upload }}
      </a>

      {% if claims %}
      <a class="user-div">
        <div class="user-icon-div">
          <img src="/assets/icons/user_nav.svg" class="user-icon" alt="User" />
        </div>
        <p>{{ claims.name | split(pat=" ") | first }}</p>
        <img src="/assets/icons/dropdown.svg" alt="Arrow Down" />
      </a>
      {% else %}
      <a href="/login#" hx-boost="true" class="user-div">
        <div class="user-icon-div">
          <img
            src="/assets/icons/login.svg"
            class="user-icon login-icon"
            alt="User"
          />
        </div>
        <p>{{ tr.NAV.login }}</p>
      </a>
      {% endif %}

      <a
        hx-get="{{route}}"
        hx-params="none"
        onclick="changeLang('{{ lang }}')"
        hx-trigger="click delay:50ms"
        hx-target="body"
        hx-swap="outerHTML"
        class="navbar-lang"
      >
        <img src="/assets/icons/{{lang}}.svg" alt="Geo" />
      </a>
    </div>
  </nav>
</div>
