<div class="navbar-div">
  <nav class="navbar">
    <a
      role="link"
      hx-get="/"
      hx-boost="true"
      hx-swap="outerHTML"
      hx-target="body"
      hx-push-url="true"
      hx-trigger="mousedown"
      class="logo-box"
    >
      <img
        src="/assets/logo.svg?v={{ ver }}"
        width="59"
        height="42"
        alt="Logo"
      />
      <h1>Pender</h1>
    </a>

    <div class="nav-right">
      <a
        role="link"
        hx-get="/upload"
        hx-boost="true"
        hx-swap="outerHTML"
        hx-target="body"
        hx-push-url="true"
        hx-trigger="mousedown"
        class="upload"
      >
        <img src="/assets/icons/upload_nav.svg" alt="Upload" />
        {{ tr.NAV.upload }}
      </a>

      {% if claims %}
      <a role="button" class="user-div dropdownBtn" onmousedown="toggleMenu()">
        <div class="user-icon-div">
          <img
            src="/assets/icons/user_nav.svg"
            width="16"
            height="18"
            class="user-icon"
            alt="User"
          />
        </div>
        <p>{{ claims.name | split(pat=" ") | first }}</p>
        <img
          src="/assets/icons/dropdown.svg"
          class="arrow-down"
          id="hidden"
          alt="Arrow"
          width="13"
          height="7"
        />
      </a>
      {% else %}
      <a
        role="link"
        hx-get="/login"
        hx-boost="true"
        hx-swap="outerHTML"
        hx-target="body"
        hx-push-url="true"
        hx-trigger="mousedown"
        class="user-div login-div"
      >
        <div class="user-icon-div">
          <img
            src="/assets/icons/login.svg"
            class="user-icon login-icon"
            alt="User"
          />
        </div>
        <p>{{ tr.NAV.login }}</p>
      </a>
      {% endif %}

      <div class="nav-dropdown hide-menu">
        {% if claims %}
        <div class="user-info">
          <p class="user-name">{{ claims.name }}</p>
          <p class="user-email">{{ claims.email }}</p>
        </div>

        <div class="dropdown-line"></div>
        {% endif %}
        <div class="dropdown-actions">
          {% if claims %}
          <a
            role="link"
            hx-get="/profile"
            hx-boost="true"
            hx-swap="outerHTML"
            hx-target="body"
            hx-push-url="true"
            hx-trigger="mousedown"
            class="dropdown-action"
          >
            <img src="/assets/icons/user.svg" alt="User" />
            {{ tr.NAV.profile }}
          </a>
          {% else %}
          <a
            role="link"
            hx-get="/login"
            hx-boost="true"
            hx-swap="outerHTML"
            hx-target="body"
            hx-push-url="true"
            hx-trigger="mousedown"
            class="dropdown-action"
          >
            <img src="/assets/icons/login.svg" alt="Log In" />
            {{ tr.NAV.login }}
          </a>
          {% endif %}
          <a
            role="link"
            hx-get="/search?animal=all"
            hx-boost="true"
            hx-swap="outerHTML"
            hx-target="body"
            hx-push-url="true"
            hx-trigger="mousedown"
            class="dropdown-action"
          >
            <img src="/assets/icons/picture.svg" alt="Picture" />
            {{ tr.PROFILE.posts }}
          </a>
          <a
            role="link"
            hx-get="/upload"
            hx-boost="true"
            hx-swap="outerHTML"
            hx-target="body"
            hx-push-url="true"
            hx-trigger="mousedown"
            class="dropdown-action"
          >
            <img src="/assets/icons/upload.svg" alt="Upload" />
            {{ tr.NAV.upload }}
          </a>
        </div>

        {% if claims %}
        <div class="dropdown-line"></div>
        <div class="dropdown-actions logout-action">
          <a
            role="link"
            hx-get="/login"
            hx-boost="true"
            hx-swap="outerHTML"
            hx-target="body"
            hx-push-url="true"
            hx-trigger="mousedown"
            hx-on::before-request="logout()"
            hx-boost="true"
          >
            <img src="/assets/icons/logout.svg" alt="Logout" />
            {{ tr.NAV.logout }}
          </a>
        </div>
        {% endif %}
      </div>

      <a role="link" onmousedown="changeLang('{{ lang }}')" class="navbar-lang">
        <img src="/assets/icons/{{lang}}.svg" alt="Flag" />
      </a>

      {% if not claims %}
      <link rel="preload" href="/assets/icons/close.svg" as="image" />

      <div class="hamburger-div">
        <img
          src="/assets/icons/hamburger.svg"
          alt="Menu"
          width="32"
          height="32"
          class="menu-icon dropdownBtn"
          id="hidden"
          onmousedown="toggleMenu()"
        />
      </div>
      {% endif %}
    </div>
  </nav>
</div>
