<style>
  {% include "posts.css" %}
</style>

{% for i in range(end=posts | length) %}
<div class="post">
  <img src="/var/uploads/post-images/{{posts[i].id}}/0.jpg" alt="Post image" />

  <div class="post-details">
    <p class="city">{{posts[i].city | replace(from='"', to='') }}</p>
    <div class="post-type">
      <p class="type {{posts[i].post_type}}">
        {{ tr.POSTTYPE[posts[i].post_type] }}
      </p>
      <!-- prettier-ignore -->
      {% if posts[i].price %}
      <p class="price">{{ posts[i].price }} ₾</p>
      {% endif %}
    </div>
    <p class="breed">{{ posts[i].breed }}</p>

    <div class="chip-div">
      <p>{{ posts[i].age }} {{ tr.FILTERS[posts[i].age_type] }}</p>
      <p>{{ tr.UPLOAD[posts[i].sex] }}</p>
    </div>
  </div>
</div>
{% endfor %}
