<link rel="stylesheet" href="/static/css/posts.css?v={{ ver }}" />

{% for i in range(end=posts | length) %}
<!-- prettier-ignore -->
{% if route == '/profile' %}
<div style="position: relative">
  {% endif %}
  <a href="/post/{{posts[i].id}}" class="post">
    <div class="blurred-img">
      <img
        src="/post-images/{{posts[i].id}}/0.jpg"
        alt="Post image"
        loading="lazy"
      />
    </div>

    <div class="post-details">
      <p class="city">{{posts[i].city | replace(from='"', to='') }}</p>

      <div class="post-type">
        <p class="type {{posts[i].post_type}}">
          {{ tr.POSTTYPE[posts[i].post_type] }}
        </p>
        <!-- prettier-ignore -->
        {% if posts[i].price %}
        <p class="price">{{ posts[i].price }} ₾</p>
        {% endif %}
      </div>
      <p class="breed">{{ posts[i].breed }}</p>

      <div class="chip-div">
        <p>{{ posts[i].age }} {{ tr.FILTERS[posts[i].age_type] }}</p>
        <p>{{ tr.UPLOAD[posts[i].sex] }}</p>
      </div>
    </div>
  </a>
  {% if route == '/profile' %}
</div>
{% endif %} {% endfor %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll("a.post");
    let touchStartY;

    links.forEach((link) => {
      link.addEventListener("touchstart", (e) => {
        touchStartY = e.touches[0].clientY;
      });

      link.addEventListener("touchend", (e) => {
        const touchEndY = e.changedTouches[0].clientY;
        const yDiff = touchStartY - touchEndY;

        if (Math.abs(yDiff) < 5) {
          // Adjust this threshold as needed
          e.preventDefault();
          window.location.href = link.getAttribute("href");
        }
      });
    });
  });

  var blurredImageDivs = document.querySelectorAll(".blurred-img");
  blurredImageDivs.forEach(function (blurredImageDiv) {
    var img = blurredImageDiv.querySelector("img");
    function loaded() {
      blurredImageDiv.classList.add("loaded");
    }
    if (img.complete) {
      loaded();
    } else {
      img.addEventListener("load", loaded);
    }
  });
</script>
