<link
  rel="stylesheet"
  href="{{content_url}}/static/css/toast.css?v={{ ver }}"
/>

<div id="toast">
  <img
    src="{{content_url}}/assets/icons/close_circle.svg"
    alt=""
    width="24"
    height="24"
    class="hidden close"
  />
  <img
    src="{{content_url}}/assets/icons/check.svg"
    alt=""
    width="24"
    height="24"
    class="hidden check"
  />
  <p></p>
</div>

<script>
  function triggerToast(message, color, type) {
    htmx.find(`.${type}`).classList.remove("hidden");
    var toast = htmx.find("#toast");
    toast.children[2].textContent = message;

    toast.className = "show";
    toast.style.backgroundColor = color;
    setTimeout(function () {
      toast.className = toast.classList.remove("show");
    }, 3000);
  }
</script>
