{% extends "components/layout.html" %}
<!-- prettier-ignore -->
{% block title %}
Pender - ატვირთე!
{% endblock title %}

{% block content %}

{% include "components/upload_imports.html" %}

<body>
  <form>
    <!-- STEPS -->
    <div class="steps">
      <div class="steps__step steps__active">
        <div class="steps__circle" id="step1">
          <div class="steps__circle__line"></div>
          <img
            src="{{content_url}}/assets/icons/upload/upload_picture.svg"
            alt=""
            width="32"
            height="32"
            hx-trigger="load"
          />
          <img
            src="{{content_url}}/assets/icons/upload/circle_check.svg"
            alt=""
            width="32"
            height="32"
            hx-trigger="load"
            class="hidden"
          />
        </div>
        <p>{{ tr.UPLOAD.STEPS.post_type }}</p>
      </div>
      <div class="steps__step">
        <div class="steps__circle" id="step2">
          <div class="steps__circle__line"></div>
          <img
            src="{{content_url}}/assets/icons/upload/upload_paw.svg"
            alt=""
            width="32"
            height="32"
            hx-trigger="load"
          />
          <img
            src="{{content_url}}/assets/icons/upload/circle_check.svg"
            alt=""
            width="32"
            height="32"
            hx-trigger="load"
            class="hidden"
          />
        </div>
        <p>{{ tr.UPLOAD.STEPS.pet_details }}</p>
      </div>
      <div class="steps__step">
        <div class="steps__circle" id="step3">
          <img
            src="{{content_url}}/assets/icons/upload/upload_file.svg"
            alt=""
            width="32"
            height="32"
            hx-trigger="load"
          />
          <img
            src="{{content_url}}/assets/icons/upload/circle_check.svg"
            alt=""
            width="32"
            height="32"
            hx-trigger="load"
            class="hidden"
          />
        </div>
        <p>{{ tr.UPLOAD.STEPS.details }}</p>
      </div>
    </div>

    <!-- INFO -->
    <div class="info-wrapper">
      <div class="info" hx-get="/api/upload_steps/1" hx-trigger="load"></div>
    </div>

    <!-- ACTIONS -->
    <div class="actions" id="actions"></div>
  </form>

  <!-- TOAST -->
  {% include "components/toast.html" %}

  <script src="{{content_url}}/static/js/upload.js?v={{ ver }}"></script>
  <script>
    setTimeout(function () {
      form.user_id = "{{claims.id}}";
      form.user_name = "{{claims.name}}";
    }, 200);
  </script>
</body>
{% endblock content %}
