<link
  rel="stylesheet"
  href="{{content_url}}/static/css/upload.css?v={{ ver }}"
/>
<link
  rel="stylesheet"
  href="{{content_url}}/static/css/upload_steps/upload_step1.css?v={{ ver }}"
/>

<link
  rel="stylesheet"
  href="{{content_url}}/static/css/upload_steps/upload_step2.css?v={{ ver }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{content_url}}/static/css/upload_steps/upload_step4.css?v={{ ver }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{content_url}}/static/css/upload_steps/upload_step5.css?v={{ ver }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{content_url}}/static/css/upload_steps/upload_step7.css?v={{ ver }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{content_url}}/static/css/cities.css?v={{ ver }}"
/>
