{% extends "components/layout.html" %} {% block content %}

<style>
  {% include "auth.css" %}
  {% include "upload.css" %}
</style>

<body>
  <div class="form-div">
    <form
      class="auth-form"
      name="uploadForm"
    >
      <p class="auth-form-title">{{ tr.NAV.upload }}</p>

      <div class="inputs-wrapper" id="step1">
        {% include "components/upload_steps/upload_step1.html" %}
      </div>

      <div class="inputs-wrapper" id="step2">
        {% include "components/upload_steps/upload_step2.html" %}
      </div>

      <div class="inputs-wrapper" id="step3">
        {% include "components/upload_steps/upload_step3.html" %}
      </div>

      <div class="inputs-wrapper" id="step4">
        {% include "components/upload_steps/upload_step4.html" %}
      </div>

      <div class="inputs-wrapper" id="step5">
        {% include "components/upload_steps/upload_step5.html" %}
      </div>

      <div class="msg"></div>
    </form>
  </div>
  <div id="imageContainer" class="images-div"></div>

  <script src="/static/js/upload.js"></script>
</body>
{% endblock content %}
