<link rel="stylesheet" href="static/css/navbar.css" />

<nav class="navbar">
  <div class="navbar-logo">
    <a href="/">
      <img src="/assets/logo.svg" width="70px" alt="Logo" />
    </a>
  </div>

  <ul class="navbar-links" id="navbarLinks">
    <li><a href="/">Home</a></li>
    <li><a href="/search">Posts</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>

  <div class="navbar-profile">
    <img
      src="/assets/avatar.png"
      alt="Profile Picture"
      class="profile-pic"
      id="profilePic"
    />
  </div>

  <div class="hamburger-menu" id="hamburgerMenu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="context-menu hidden" id="contextMenu">
    <ul class="context-menu-links">
      <li class="context-link"><a href="/">Home</a></li>
      <li class="context-link"><a href="/search">Posts</a></li>
      <li class="context-link"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>

<script src="/static/js/navbar.js"></script>
