<link rel="stylesheet" href="static/css/navbar.css" />

<nav class="navbar">
  <div class="navbar-logo">
    <a href="/">
      <img src="/assets/logo.svg" alt="Logo" />
    </a>
  </div>

  <ul class="navbar-links" id="navbarLinks">
    <li><a href="/">Home</a></li>
    <li><a href="/search">Posts</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>

  <div class="navbar-profile">
    <div class="language-selector lang-full" id="languageSelector">
      <i class="fa-solid fa-language" id="languageSelector"></i>
      <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="language-menu" id="languageMenu">
      <div class="language-menu-links">
        <div hx-post="/set_language/ge" hx-swap="none">
          <a href="{{route}}"> Ge </a>
        </div>
        <div hx-post="/set_language/en" hx-swap="none">
          <a href="{{route}}"> En </a>
        </div>
      </div>
    </div>

    <img
      src="/assets/avatar.png"
      alt="Profile Picture"
      class="profile-pic"
      id="profilePic"
    />
  </div>

  <div class="mobile-right">
    <div class="language-selector" id="languageSelectorMobile">
      <i class="fa-solid fa-language" id="languageSelector"></i>
      <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="hamburger-menu" id="hamburgerMenu">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>

  <div class="context-menu" id="contextMenu">
    <div class="context-menu-links">
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/search">Posts</a>
    </div>
  </div>
</nav>
<script
  src="https://kit.fontawesome.com/8ebc974816.js"
  crossorigin="anonymous"
></script>
<script src="/static/js/navbar.js"></script>
