<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/global.css" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pet Meeting Website" />

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    <title>Pender</title>
  </head>
  <body>
    {{ navbar | safe }}

    <!-- <div class="circle blue" style="right: 10px; top: 100px"></div> -->
    <div class="circle yellow"></div>
  </body>
</html>
